[2015-10-15 20:20] tbeu opened #5 "Scrolling should be possible"
If there are quite a lot PR listed on the checker's site then only the head of the list is visible ans scrolling is awefully missed.

[2015-10-16 07:30] jenkoian commented on #5
Thanks, fixed.

[2015-10-16 07:30] #5 closed

[2016-09-28 08:08] jenkoian opened #16 "Add tests"
This app is something I knocked together pretty quickly, but as I now seem to be recycling it every year it'd be cool to make it a bit more maintainable. So it'd be cool to get some tests in place so that if I did wanna refactor I could do say with a modicum of reassurance.

[2016-09-28 08:10] jenkoian opened #17 "Add favicon"
Maybe a pumpkin or something?

[2016-09-28 08:22] pjhampton commented on #17
Hey @jenkoian!

I can add this in 😄

[2016-09-28 08:25] jenkoian commented on #17
@pjhampton awesome! I guess wait until October so it counts towards your score :)

[2016-09-28 09:24] vojtasvoboda commented on #17
Fixed by #18

[2016-09-28 09:58] jenkoian commented on #17
Thanks @vojtasvoboda not sure if you want to close and re-open in October though so it counts towards your 4 PRs? Also, kinda think @pjhampton had [bagsy'd](http://www.urbandictionary.com/define.php?term=bagsy) this one! :)

[2016-09-28 10:00] vojtasvoboda commented on #17
Yes please, let wait till first October 👍

[2016-09-28 10:14] pjhampton commented on #17
wat :-| Hmm, I suppose @vojtasvoboda has already done it for some reason.

[2016-09-29 19:12] rafaelstz commented on #17
![image](https://cloud.githubusercontent.com/assets/610598/18968439/6666e9da-865f-11e6-9496-4ac8fdeefeea.png)

Remove pumpkin from page title
https://github.com/jenkoian/hacktoberfest-checker/pull/20

Add favicon Pumpkin
https://github.com/jenkoian/hacktoberfest-checker/pull/21

[2016-09-29 19:31] pjhampton commented on #17
😂

[2016-09-29 21:07] vojtasvoboda commented on #17
Lol, this Hacktoberfest will be fun 😃

[2016-09-30 07:38] jenkoian commented on #17
Oh boy - none of the existing PRs will count as they were opened in September. As hacktoberfest stipulates you just need to open a PR, please consider re-opening in October, I'll then merge which one makes most sense. Likely to be @pjhampton to be honest as he offered first. Appreciate everyones interest in the repo though! :)

[2016-09-30 07:42] jenkoian opened #23 "Live hacktoberfest issue ticker"
Bit more challenging this one but think it'd be quite neat to have some kind of ticker somewhere which pops up with issues recently opened on github with the hacktoberfest label.

You should be able to use https://developer.github.com/v3/search/#search-issues which you can filter by labels.

[2016-09-30 10:11] QzSG opened #24 "Should the hacktoberfest checker be timezone agnostic?"
For now, the search query shows that I made 0 pull requests.
However, it shouldn't it show 2 pull requests that I made today?
The checker should not be using UTC - 12:00.

I suggest removing the Timezone portion from the search query.

[2016-09-30 10:23] QzSG commented on #24
😢 Just realised that despite registrations for Hacktoberfest starting already, pull requests only count from 1st october, I have no idea what timezone though .. sorry for the wrong issue

[2016-09-30 10:29] #24 closed

[2016-09-30 11:17] jenkoian commented on #24
Timezone is set like this to allow for various timezones. See this commit from last years official verification script: https://github.com/erikaheidi/hacktoberfest-verify/commit/7807e0db892f7cb82a60cfc612c7b1e8312ef582#diff-c500bedd4010f8fdb804a470483ce893

And this issue which likely prompted it: https://github.com/erikaheidi/hacktoberfest-verify/issues/6

[2016-09-30 21:14] bmorelli25 commented on #23
I might give this a go at somepoint in the next few days. I'm more familiar with react than jQuery, so no promises that I'll be successful, but worth a shot at least.

If all else fails, I'll at least write some tests per #16

[2016-10-01 10:48] #17 closed

[2016-10-01 10:50] mattjegan commented on #23
Perhaps you could use the GitHub API to get the issues list? The docs for it are [here](https://developer.github.com/v3/search/#search-issues)

Maybe something along the lines of this:
[code]
which should return all issues with the `hactoberfest` tag that are `open` sorted by when they were made.

[2016-10-01 19:06] hamzahsarwari commented on #23
Thank you to whoever made this site. It is incredibly amazing! <3

[2016-10-01 19:10] hamzahsarwari commented on #16
This works great for me! and i love it thank you :)

[2016-10-01 19:35] Ne3l commented on #23
Did my attempt to fix that (https://github.com/jenkoian/hacktoberfest-checker/pull/32)

The presentation of the issues can be much better also might be interesting letting the user filter the issues by some criteria as github such as programming language.

[2016-10-02 15:26] sanspace opened #34 "Open / Rejected PRs count?"
May be it's a question for Digital Ocean team. But, as usual they don't seem to have a repo for the hacktoberfest site.

Any PR made during the window counts or it needs to be merged?

[2016-10-03 03:10] LauraNK commented on #34
Nope, they don't need to be merged.

From [their blog](https://www.digitalocean.com/company/blog/ready-set-hacktoberfest/).

[2016-10-03 05:09] sanspace commented on #34
Good to know. Thank you!

[2016-10-03 05:09] #34 closed

[2016-10-03 11:13] prashcr opened #36 "Closed but unmerged pull requests are being counted"
[Example](https://hacktoberfestchecker.herokuapp.com/?username=prashcr)

The third PR has been closed but not merged.

I don't think they count...do they?

[2016-10-03 11:37] jenkoian commented on #36
See https://github.com/jenkoian/hacktoberfest-checker/issues/34#issuecomment-251018270 but yeah any PR counts, doesn't need to be merged.

[2016-10-03 11:37] #36 closed

[2016-10-04 12:24] jenkoian opened #37 "Add humans.txt"
Listing all the contributors.

[2016-10-04 12:33] aj07 commented on #37
I will take this  :+1:

[2016-10-04 18:28] REPTILEHAUS commented on #23
Yeah this  is pretty cool 👍 if you need a hand with adding in any features or stuff let me know

[2016-10-04 18:37] jenkoian commented on #23
Thanks @REPTILEHAUS there is an ongoing PR [here](https://github.com/jenkoian/hacktoberfest-checker/pull/32) - feel free to get involved if you wish 👍

[2016-10-04 18:37] #37 closed

[2016-10-04 18:45] REPTILEHAUS commented on #23
Cool, Ive had a few whiskeys at the moment but Im actively taking part in Hacktoberfest so Ill certainly start looking into it tomorrow at 12pm

[2016-10-04 19:07] jenkoian commented on #23
If anyone is interested in helping make this 'live' there is a brilliant example of using sockets in a node app [here](https://github.com/debugger22/github-audio)

[2016-10-04 19:32] dmlittle opened #39 "Incorrect Date Frame"
Looking at the Github PR query, it is currently fetching PR requests filtered by time between `2016-09-30T00:00:00-12:00` and `2016-10-31T23:59:59-12:00`. Shouldn't it start on October 1st instead of September 30th? I noticed this because I have 4 PRs in September 30th that are currently being counted which I don't think they should be.

[2016-10-04 19:53] jenkoian commented on #39
Bit of an explanation here: https://github.com/jenkoian/hacktoberfest-checker/issues/24

[2016-10-05 10:17] jenkoian opened #40 "Add graph of PRs opened throughout Hacktoberfest"
Was thinking it'd be cool to have a graph or like a sparkline somewhere of PRs opened throughout October, maybe we can dip a little in to September also to give a comparison.

Should be able to call something like https://api.github.com/search/issues?q=created:2016-09-30T00:00:00-12:00..2016-10-01T23:59:59-12:00&sort=created&order=asc&type=pr which will give you the `total_count` at the top. We ca

[2016-10-05 15:23] jenkoian opened #42 "Travis build"
Although there are [no tests yet](https://github.com/jenkoian/hacktoberfest-checker/issues/16) we could still build on travis to lint etc. Don't want to go mad with JS build stuff but some basic linting should be ok.

[2016-10-05 16:25] matthamil opened #43 "Is it supposed to add contributions from your own repos marked with Hacktoberfest issues?"
^
Is it supposed to add contributions that you make from your own repos marked with Hacktoberfest issues?

[2016-10-05 16:25] MiguhRuiz commented on #42
I'm working on this. 👍

I need to be authorized in the repository in order to connect it to Travis CI

[2016-10-05 16:30] troy0820 commented on #42
@MiguhRuiz If you fork it, can't you just add the PR after it's set up in your repo?  This way the changes will effect this repo after it's merged.

[2016-10-05 16:50] MiguhRuiz commented on #42
#44 As you can see you'll need to implement some test in order to pass the build but the work of implementing Travis CI is done. 👍

[2016-10-05 16:55] qk4 commented on #43
It should only count Pull Requests. As i understand it.

[2016-10-05 18:19] matthamil commented on #43
I guess I should have worded that better. Should it be counting Pull Requests that you make for your own repositories marked with Hacktoberfest issues?

[2016-10-05 18:28] jenkoian commented on #43
@matthamil as far as I'm aware any pull request counts, be it your own repository or someone else's

[2016-10-05 18:57] darrylpargeter commented on #40
Hey @jenkoian

Is this still open to be worked on?

[2016-10-05 19:18] jenkoian commented on #40
@darrylpargeter yep! :)

[2016-10-05 19:20] darrylpargeter commented on #40
Then I shall make a start, any preference on charting tools? or would I be free to use the one I know?

[2016-10-05 19:27] jenkoian commented on #40
No preference on charting tools, I really like the sparklines on the repositories view on GitHub e.g. https://github.com/jenkoian?tab=repositories althougj we would need a bit more info like an axis with labels I suspect but yeah generally up to you :)

[2016-10-05 19:31] darrylpargeter commented on #40
so a minimalist Line graph it is ^^, should it be displayed on the main page or on a different page?

[2016-10-05 19:32] jenkoian commented on #40
Was thinking the main page but could put it on another page if it doesn't seem to fit anywhere

[2016-10-05 19:35] darrylpargeter commented on #40
kool, will put it not the main page for now, then can go from there

[2016-10-05 19:37] jenkoian commented on #40
Sounds good 👍

[2016-10-05 22:08] #43 closed

[2016-10-06 05:50] JakenHerman commented on #42
This is fixed in https://github.com/jenkoian/hacktoberfest-checker/pull/44

[2016-10-07 07:50] #39 closed

[2016-10-07 07:55] jenkoian commented on #23
Thanks to @Ne3l & @games647 hacktoberfest issues are now being brought out on the homepage. I still think it'd be cool to have this live update though so gonna leave this ticket open.

[2016-10-07 13:50] jenkoian opened #48 "PRs marked invalid don't count"
https://twitter.com/digitalocean/status/784388561521012736

Should just be a case of updating the following: https://github.com/jenkoian/hacktoberfest-checker/blob/master/index.js#L56

Before:
`q: 'created:2016-09-30T00:00:00-12:00..2016-10-31T23:59:59-12:00+type:pr+is:public+author:' + username`

After:
`q: '-label:invalid+created:2016-09-30T00:00:00-12:00..2016-10-31T23:59:59-12:00+type:pr+is:pu

[2016-10-07 13:57] Godsend72 commented on #48
Hello, I am interested in this. Are you saying that only that one line should be changed? If so isn't that a bit too easy?

[2016-10-07 14:11] #48 closed

[2016-10-07 21:38] matteo-hertel commented on #16
Adding some tests it's a very good idea, however most of the code is one file (both front end and back end).

I believe the fist step will be split the code in reusable components, maybe using ES6 or TypeScript to have it more maintainable, what do you think?

[2016-10-08 03:04] damiankw opened #51 "Add language to the list of hacktoberfest repos"
I would like to see a 'php', 'javascript' or whatever next to the list of hacktoberfest labelled issues underneath the score, to make it easier for newer guys to find projects they can work on in their language.

[2016-10-08 03:05] damiankw commented on #51
I attempted to look at this myself, before I realised it was node.js, that I knew nothing about node.js, and after spending two hours on it, couldn't figure out how to use the npm-github-api to gather any detail about the repo :P

[2016-10-08 04:01] allonsyalexa opened #52 "Social Sharing"
Once you "check" each username, it would be really nice to have a social sharing button for Twitter - using the #hacktoberfest hashtag and tagging the user.

[2016-10-08 04:49] jenkoian commented on #16
@matteo-hertel agree it probably needs a little refactoring to make it easily testable. Would like to keep the app simple though, it doesn't really do too much to warrant bringing in a mass of dependencies etc plus I think that part of the reason it attracts contributors is that's it's easy for beginners to work with. Having said that I'm not opposed to typescript or in particular es6 so long as w

[2016-10-08 14:16] matteo-hertel commented on #51
I was thinking on adding that, if the API call will return the languages used on the PR, it should be straightforward!

[2016-10-08 14:18] damiankw commented on #51
That's exactly what I was thinking, unfortunately the 'issues' search doesn't return the languages as far as I can see (at least, the npm-github-api doesn't). I assume you will have to use the API to pull the actual GitHub repo detail, which will have it in there .. but I couldn't figure out how to get that to work!

[2016-10-08 16:05] matteo-hertel commented on #51
The library does not have support for getting some repo infos, but is possible to call the REST API like

`https://api.github.com/repos/jenkoian/hacktoberfest-checker/languages`

and will return the languages for the given repo

is not that straightforward to add because for each PR you need to get the repo and everything is promised based so you need to add the call at the right moment of the flo

[2016-10-09 03:50] Ferbla commented on #52
I can give this a try. Would Twitter, Facebook and Google+ work?

[2016-10-09 14:49] allonsyalexa commented on #52
That would be great! That's for considering the suggestion 😊

[2016-10-09 14:49] allonsyalexa commented on #52
Thanks*

[2016-10-10 04:37] troutowicz opened #60 "Slack integration"
Just wanted to mention I created a Slack command based off of your work here. :)

https://github.com/troutowicz/hacktoberfest-slack

[2016-10-10 04:37] #60 closed

[2016-10-10 10:40] jenkoian commented on #60
Cheers for the heads up and shout out - looks good 👍

[2016-10-10 12:06] 123aswin123 commented on #52
Hi , please check #62 and tell me if there are any issues!

[2016-10-10 14:33] mattjegan opened #63 "Render github flavoured markdown as html"
At the moment the app is showing the plaintext version of the issue descriptions such as `[sometext](somelink)` rather than just the hyperlink. It would be great if this markdown (GFM) could be converted to html.

[2016-10-10 14:37] jenkoian commented on #63
+1 @mattjegan I considered this before merging, but as markdown is designed to be human readable didn't see it as too much of an issue, but agreed HTML would be nicer. I bet there's some nice npm package out there that'll do this for us. You fancy taking this on?

[2016-10-10 14:49] mattjegan commented on #63
Sure thing, I'm no JS dev but I'll give it a shot.

[2016-10-10 14:55] jenkoian commented on #63
Awesome! Something like https://www.npmjs.com/package/github-markdown-render looks like it might be useful 👍

[2016-10-12 10:02] matteo-hertel commented on #51
This can now be closed, added the language in #58

[2016-10-12 21:06] 123aswin123 commented on #52
@jenkoian Please check #62 again! Thanks!

[2016-10-12 21:08] allonsyalexa commented on #52
This looks perfect!

[2016-10-13 15:44] redice44 commented on #23
I'd like to take a crack at the live update part, if it's still up for grabs. 👍

[2016-10-13 16:05] Superhuman07 commented on #43
Hi
hello all I am not able to set label to Hackoctoberfest can anybody explain it to me why?
The label field just shows normal lables not hackoctoberfest.

[2016-10-13 16:06] matthamil commented on #43
@Superhuman07 You need to click on `Issues` -> `Labels` -> `New label` and then create one with the name `Hacktoberfest`. You can choose any color you want for your Hacktoberfest issues too.

[2016-10-13 16:19] Superhuman07 commented on #43
yeah thanks man! got it! 👍

[2016-10-13 16:26] Superhuman07 commented on #43
One more thing @matthamil
Do the PR should be also labelled as

[2016-10-13 16:40] matthamil commented on #43
Nope, they do not need a Hacktoberfest tag on the PR. They don't need the
Hacktoberfest issue to be present in the repo either. You just need to
submit 4 PRs during this month.

On Thu, Oct 13, 2016 at 10:26 AM, Rahul Bhatia <notifications@github.com>
wrote:

[2016-10-13 16:45] Superhuman07 commented on #43
@matthamil Ok cool!
Then I will be waiting for my tee 😄
Cheers! 👍

[2016-10-13 16:51] babhishek21 commented on #23
@redice44 I'll also be looking into it (for fun). But feel free to go ahead.

[2016-10-14 12:41] lokeshh opened #72 "Need to ignore closed pull requests"
It shouldn't include closed pull requests in the counting.

[2016-10-14 15:29] drewvolz commented on #72
@lokeshh Digital Ocean's response on closed PRs... http://disq.us/p/1cqbhoi

[2016-10-14 19:30] #72 closed

[2016-10-15 04:36] lokeshh commented on #72
Nice

[2016-10-17 09:26] #52 closed

[2016-10-21 12:20] Sumith1896 opened #76 "Seems down?"
![hacktober](https://cloud.githubusercontent.com/assets/9217608/19598158/e2bb330c-97b6-11e6-8eb3-aad4a749eb72.png)

[2016-10-21 12:21] jenkoian commented on #76
Yep: https://news.ycombinator.com/item?id=12759520

[2016-10-21 12:24] Sumith1896 commented on #76
Thanks @jenkoian for the info, seems like we can close this then

[2016-10-21 12:24] #76 closed

[2016-10-21 13:07] jtemporal opened #77 "Couldn't find any data or we hit an error, err try again?"
yesterday everything was fine... Now we are getting this error:

![screenshot from 2016-10-21 11-04-58](https://cloud.githubusercontent.com/assets/6595551/19599193/4c6757ec-977e-11e6-9f7e-9d5adf19204c.png)

anything we can to help get it to work again ? =)

[2016-10-21 13:15] jenkoian commented on #77
Hey @jtemporal thanks for the offer of help! :)

It seems the whole internet is suffering from issues today and we're being affected too, more info here: https://news.ycombinator.com/item?id=12759520

[2016-10-21 13:28] jenkoian commented on #77
Should be back now - also just pushed up #71 so should be even sweeter :)

[2016-10-21 13:28] #77 closed

[2016-10-21 13:28] jenkoian commented on #23
Thank you @redice44

[2016-10-21 13:28] #23 closed

[2016-10-21 13:36] Linell opened #78 "Incorrect Count"
I'm seeing _way_ more pull requests submitted than I've actually made.
![screen shot 2016-10-21 at 8 34 41 am](https://cloud.githubusercontent.com/assets/1231554/19600148/4cbc83e4-9769-11e6-9382-9dc96b78c3d1.png)

I believe I should have like two. Trying a couple of other usernames, it seems like the incorrect ones are present for them as well.

[2016-10-21 13:41] jenkoian commented on #78
Oh yep, apparently I've made 104, I'm nowhere near that good! Will revert the last commit which may have caused it. 👍

[2016-10-21 13:42] jenkoian commented on #78
Ok sorted, thanks so much for reporting 👍

[2016-10-21 13:42] #78 closed

[2016-10-21 13:45] jtemporal commented on #77
Awesome!! thanks ;)

[2017-09-14 20:11] ch3nkula opened #96 "Hacktoberfest 2017 coming soon"
You may want to start looking at updating (UI/UX) this tool as the program is coming up again soon (2017 series). Here is a link to the new design page: https://hacktoberfest.digitalocean.com/. 👍

[2017-09-15 07:25] jenkoian commented on #96
Thanks for the heads up @ch3nkula! I did email DigitalOcean to find out more but still awaiting response, so cheers for this!

[2017-09-15 08:08] ch3nkula commented on #96
Okay @jenkoian. Great! Let's wait for their reply then. Meanwhile, this is a great tool. I am pretty sure it was used by many to know their Hacktoberfest status :).

[2017-09-27 21:33] arguiot commented on #96
Hacktoberfest is here, so when will you guys think the website will be updated?

[2017-09-27 21:39] jenkoian commented on #96
@arguiot thanks for your interest, will be pushing the new version up tomorrow

[2017-09-28 16:58] #42 closed

[2017-09-28 16:58] #40 closed

[2017-09-28 17:00] jenkoian commented on #96
Have updated the app, will deploy before the 1st. Let me know if you have any questions, I've tried to strip it back a bit to keep it appealing to beginners. I will add some improvement tickets over the next few days.

Cheers! 🎃

[2017-09-28 17:00] #96 closed

[2017-09-28 17:06] ch3nkula commented on #96
Thanks very much @jenkoian. 👍  I don't have any questions for now. :)

[2017-09-29 12:16] salman-bhai commented on #96
@jenkoian App Deployment not yet done kya?

We're actually organising a meetup this year and that's why just wanted to double-check?

[2017-09-29 12:23] jenkoian commented on #96
@salman-bhai not done yet, was going to do it later today if that's alright? Let me know if you need it sooner and i'll prioritise :)

[2017-09-29 13:01] salman-bhai commented on #96
No tonight sounds good! And great work on the repo man!

[2017-09-29 15:52] jenkoian commented on #96
Done, let me know if you run into any issues, not managed to spend too long testing due to working next door to a pub 👍

[2017-09-29 17:05] salman-bhai commented on #96
This is our meetup repo! Gave you credits in the description. Let me know if I need to add anything else about you!

[2017-09-29 21:20] emorres25 opened #101 "Says 0/4"
Disclaimer - I'm not sure if the fest has really started.
I have registered, and have submitted 3 PRs already. But the app says I've submitted 0/4. Is it me, or is it the app?

[2017-09-29 21:30] jenkoian commented on #101
Not October yet! 🙂

[2017-09-29 21:30] #101 closed

[2017-10-01 13:33] jenkoian opened #106 "Add travis CI integration"
Build PRs and master with Travis CI. For this ticket, simply building the app (running npm install without error etc.) is enough, tests, code style etc. to be done as part of other tickets.

[2017-10-01 13:34] jenkoian opened #107 "Add some basic tests"
Open to tools and libraries to use for this.

[2017-10-01 13:35] jenkoian opened #108 "Add code style checker"
Add a way of checking code style and have it fail the build (see #106) if the code doesn't adhere. Am open to tools/libraries.

[2017-10-01 13:36] jenkoian opened #109 "Change base font"
Use a less serif font

[2017-10-01 13:36] jenkoian opened #110 "Better search input on mobile"
Search input looks a bit small on mobile.

[2017-10-01 13:45] DirtyF commented on #109
Working on a PR :)

[2017-10-01 13:47] ghosh commented on #110
I can help with this. I'll submit a PR soon.

[2017-10-01 13:47] stefanmiodrag commented on #110
I can help with this (and general styling.) However when I started doing some styling I noticed that you already use a CSS framework, overriding seems impossible.

[2017-10-01 13:58] #109 closed

[2017-10-01 14:06] cfilby commented on #106
I'll go ahead and take this one on.

[2017-10-01 14:10] cfilby commented on #108
I'll take this on

[2017-10-01 14:26] butlerx commented on #107
eslint for backend code would be good. would be able to enforce `'use strict';` and similar rule
i would recommend the [airbnb eslint](https://www.npmjs.com/package/eslint-config-airbnb) config as a base
if you use eslint you could aslo then use [eslint handlebars](https://github.com/psbanka/eslint-plugin-hbs)

[2017-10-01 15:52] fobos commented on #107
@butlerx I think you commented #108 not this one.

[2017-10-01 16:12] yasirunilan commented on #106
Can I work on this ?

[2017-10-01 16:35] Samoxive commented on #108
For javascript files, ESLint seems to be the go-to choice, maybe we could use one of the existing lint configurations on top of it.

[2017-10-01 19:00] #110 closed

[2017-10-01 19:02] mruzekw commented on #108
There's also Prettier as a code formatter.

[2017-10-01 19:10] jenkoian commented on #108
ESLint added here https://github.com/jenkoian/hacktoberfest-checker/pull/114

[2017-10-01 19:10] #108 closed

[2017-10-02 02:01] Ista2000 opened #117 "Does not show my contribution :("
If you enter my username, it shows 0 contribution but if you open my profile you can see that I have 2 contributions already. :(

[2017-10-02 02:05] #117 closed

[2017-10-02 05:22] aashutoshrathi opened #118 "It shows PR, which doesn't even have 'Hacktoberfest' label"
In the description of one's PR in Hacktoberfest, It is showing all the PRs one submitted in October, instead, it should just show the ones which have label `Hacktoberfest`.

[2017-10-02 05:24] aashutoshrathi commented on #106
Can I work on this one?

[2017-10-02 05:31] josephyi commented on #118
The rules for Hacktoberfest state that PRs can be made to _any_ public repo. I think the labels are just to help people find projects in case they want some direction.

[2017-10-02 06:08] yasirunilan commented on #106
@jenkoian  can you check, I did some work regarding this.

[2017-10-02 07:34] jenkoian commented on #118
What @josephyi said :)

[2017-10-02 07:34] #118 closed

[2017-10-02 07:49] #106 closed

[2017-10-02 08:06] jenkoian opened #120 "Add travis badge to readme"
Add the following badge to the top of the readme

[code]

[2017-10-02 08:16] Owanesh commented on #120
i can do that! @jenkoian

[2017-10-02 08:23] #120 closed

[2017-10-02 08:44] jenkoian opened #123 "Add a PR template"
See https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/ am open to suggestions for format, but would favour something very lightweight.

[2017-10-02 08:45] simonstaton commented on #123
Setting one up for you now

[2017-10-02 08:51] simonstaton commented on #123
https://github.com/simonstaton/hacktoberfest-checker/pull/1 I have added tests for the acceptance criteria but you can remove this part

[2017-10-02 09:08] jenkoian commented on #123
@simonstaton I think you've opened the pull request against your fork?

[2017-10-02 09:22] simonstaton commented on #123
Still waking up, here you go - https://github.com/jenkoian/hacktoberfest-checker/pull/124

[2017-10-02 17:59] cfilby commented on #107
What sort of tests did you have in mind? Unit tests or end to end tests with mocked Github responses?

[2017-10-02 19:35] QuadDepo opened #128 "UI improvements?"
I know this is only for the time being but some UI could be made, would love to do it. :-)

[2017-10-02 19:39] browner12 opened #129 "incorrect status"
tracker is currently marking some of my closed PRs as merged.

i know this project is just for shits and giggles, but thought you'd like to know.

btw, do we not even need our PRs merged anymore? we just have to open them?

[2017-10-02 19:58] jenkoian commented on #129
Yeah just open them don’t need to be merged 👍

[2017-10-02 19:58] #129 closed

[2017-10-02 20:00] jenkoian commented on #128
Would welcome a PR :)

[2017-10-02 20:01] QuadDepo commented on #128
Will try my best :D

[2017-10-02 20:22] ConsoleTVs opened #131 "Not working"
Just letting u know it's not working.

![image](https://user-images.githubusercontent.com/6124435/31097592-18d66a8c-a7c0-11e7-96e3-8d6dd106d885.png)
![image](https://user-images.githubusercontent.com/6124435/31097600-1f06e8be-a7c0-11e7-8a74-62ce25a564ee.png)

https://github.com/pfefferle/atom-php-cs-fixer/pull/71

[2017-10-02 20:40] koddsson commented on #131
Hey @ConsoleTVs 👋

It looks like the PR you linked was opened on September 30th and I think only the PRs made in October count towards Hactoberfest.

[2017-10-02 21:10] ConsoleTVs commented on #131
Maybe, but I signed up already hmmm. Thanks for the info tho :)

[2017-10-02 21:10] #131 closed

[2017-10-03 00:06] Fleker opened #135 "Add quick access to my personal account"
If you add a login button and allow people to login through GitHub, it would allow the site to automatically display their current stats.

Or you could store the last-checked user as a cookie and automatically display that the next time the user opens the site.

[2017-10-03 07:53] jenkoian commented on #135
Could you elaborate on this? Personally I find it must less effort to just chuck in my username than have to go through the two factor auth rigmarole.

[2017-10-03 12:52] ankitjain28may opened #140 "It should be better to show Github profile image for the person who haven't submitted any PR."

[2017-10-03 15:06] wildan3105 opened #141 "not responsive on mobile"
When I search my username account via smartphone, the PR results didn't show the exact same as web result, like this :

![issue1](https://user-images.githubusercontent.com/7030099/31132444-066c6ece-a887-11e7-9ba7-d3e939188f62.jpg)

[2017-10-03 16:37] jenkoian commented on #141
Thanks, would be good to get this fixed, have attached the hacktoberfest label if someone wants to pick it up, else I'll look at it when I get chance 👍

[2017-10-03 16:46] wildan3105 commented on #141
Hi, actually I could work on this. Do you give me a shot? @jenkoian

[2017-10-03 17:11] Zeustopher opened #142 "Checker's icons don't distinguish between Merged and Closed PRs"
The checker's icons don't distinguish between Merged and Closed PRs. They both show as the Merged icon.

A Closed PR should use the "Request" icon but it should be colored Red. That is how Github represents them.

I _think_ the fix would be related to the file https://github.com/jenkoian/hacktoberfest-checker/blob/master/views/partials/prs.hbs. It appears that there are only two states defined - o

[2017-10-03 17:12] Zeustopher commented on #142
Pictures are worth a thousand words:

![image](https://user-images.githubusercontent.com/11470532/31138441-b946c3c0-a82b-11e7-866c-d8421b67d044.png)

[2017-10-03 17:47] David-Byrne commented on #142
I can try give this one a shot :smile:

[2017-10-03 18:05] David-Byrne commented on #142
Not sure this is such an easy fix. The JSON returned from the API seems to have `state: 'closed'` set for both closed and merged pull requests, as can be seen in [this](https://api.github.com/repos/freedomotic/fd-user-manual/issues/9) and [this](https://api.github.com/repos/freedomotic/fd-user-manual/issues/15)...

We might be able to get the data with another API call but I don't know if it's wor

[2017-10-03 18:10] Zeustopher commented on #142
Drats - I thinks you're right... Too bad. Would have been a nice improvement.

[2017-10-03 19:06] hosmelq commented on #141
#138 should fix this.

[2017-10-03 19:16] Fleker commented on #135
When I go to hacktoberfestchecker.herokuapp.com it would redirect me to https://hacktoberfestchecker.herokuapp.com/?username=fleker

It'd be slightly more convenient, maybe not at the cost of the OAuth work.

You could just store the username in a cookie so when the user visits the main site or a certain page like https://hacktoberfestchecker.herokuapp.com/me it redirects them.

[2017-10-03 20:17] kenma9123 opened #145 "Text overlaps on smaller screens"
There's a bit of problem on smaller screen like for example mobile. The text overlaps the container as you can see on this image.

![image](https://user-images.githubusercontent.com/1641990/31146232-866466fa-a8b8-11e7-8a4e-fea9aec367d2.png)

Update: I created a PR to simply enable ellipsis on the text so it stays on one line

[2017-10-03 21:20] abdulamite commented on #145
Maybe we should wrap the contents in a flex container so that the height of the boxes will adjust for the text content?

[2017-10-03 21:50] #123 closed

[2017-10-04 03:32] Akatsuki06 commented on #145
Yes, test overflows out of the container.

[2017-10-04 05:04] 4e554c4c commented on #142
I think this can be used to determine whether a pr is closed or merged: https://developer.github.com/v3/pulls/#get-if-a-pull-request-has-been-merged

[2017-10-04 06:32] splitt3r opened #149 "Problem with # char"
Typing in a # and submitting results in the following:

![Problem](https://user-images.githubusercontent.com/1869584/31162530-5a7103b6-a8de-11e7-9e50-3c8fec45e0b5.png)

[2017-10-04 07:16] hosmelq commented on #145
#138 should fix this.

[2017-10-04 07:44] #149 closed

[2017-10-04 08:08] jenkoian commented on #135
@Fleker would be open to a PR for the cookie thing, as agree it could be a convenience :)

[2017-10-04 08:09] #141 closed

[2017-10-04 08:24] #145 closed

[2017-10-04 08:25] gagyibenedek commented on #107
I'd gladly add unit tests for the JS part.

[2017-10-04 08:29] Metamist commented on #140
Can be closed now, already solved! :+1:

[2017-10-04 08:34] jenkoian commented on #140
Thanks @Metamist

[2017-10-04 08:34] #140 closed

[2017-10-04 08:35] pybites opened #152 "Bug in created datetime range in GH API query (options)"
First of all awesome tool. We're raising a code challenge to make this in py Bottle and will refer people to this as template.

I got an issue: the GUI included this PR which should be outside the range:
https://api.github.com/repos/synedra/irresistible/pulls/4
"created_at": "2017-09-30T21:07:47Z",

controllers/index.js L15

            q: `-label:invalid+created:2017-09-30T00:00:00-12:00..2017-10

[2017-10-04 08:35] Ibrahim-Islam opened #153 "Shows Closed PRs as being Merged"

[2017-10-04 08:35] jenkoian commented on #107
Sorry for delayed response, yeah open to either. End to end would make most sense to me? As currently there isn't really much to unit test?

[2017-10-04 08:39] jenkoian commented on #152
😊

It says `-invalid` which is a way of saying 'exclude invalid'. IIRC @digitalocean included this as a way for maintainers to discount PRs from people blatantly spamming to get a t-shirt.

For questions about time zones, please see my response here:
https://github.com/jenkoian/hacktoberfest-checker/pull/104#issuecomment-333376597

[2017-10-04 08:39] jenkoian commented on #153
Yep, you only need to open PRs for them to count 👍

[2017-10-04 08:39] #153 closed

[2017-10-04 08:40] gagyibenedek commented on #107
I think both have their value. For me it would make sense to do both.

[2017-10-04 08:41] pybites commented on #152
Good point 👍

Yeah if it's their way of validating then that's the way.

2017-10-31T23:59:59-12:00 still seems weird though :)

Thanks for your fast follow up

[2017-10-04 08:44] jenkoian commented on #152
@pybites I have the privilege of living in GMT though, so am open to a better way of handling timezones!

[2017-10-04 08:45] jenkoian commented on #107
@gagyibenedek would welcome a PR if you fancy :)

[2017-10-04 08:48] gagyibenedek commented on #107
will do! :)

[2017-10-04 08:52] M-ZubairAhmed opened #155 "$ prefix for commands"
I have read thats its a good practice to write prefix commands with $ to differentiate among comments. So can we change them in readme

[2017-10-04 08:55] M-ZubairAhmed commented on #155
Do let me know if everythings ok with this or if this even constitutes as a PR?

[2017-10-04 08:56] #155 closed

[2017-10-04 08:58] pybites commented on #152
@jenkoian I think we're good.

It is indeed a supported way to express TZs in the query: https://developer.github.com/v3/#timezones

Maybe nice if we can contribute a test to see if the outer bound works ...

[2017-10-04 08:58] #152 closed

[2017-10-04 10:23] hellotunmbi opened #159 "It shows number of pull requests, instead of number or 'merged pull request'"
I submitted 3 pull requests and only 2 were merged.
When I checked on hacktoberfest-checker, it showed 3/4, instead of 2/4

[2017-10-04 10:24] jenkoian commented on #159
PRs opened are what counts, irrespective of merged status 👍

[2017-10-04 10:24] #159 closed

[2017-10-04 10:26] hellotunmbi commented on #159
Oh really, I didn't know. Thanks for shedding more light!

[2017-10-04 17:05] khw1031 opened #162 "Checker recognize PR on my own repository as a valid PR"

[2017-10-04 17:32] jenkoian commented on #162
Yep, that's in the rules :)

[2017-10-04 17:32] #162 closed

[2017-10-04 17:39] #142 closed

[2017-10-05 02:43] jbmills327 commented on #128
I have an idea that I think might look kind of cool. I would like to add some twinkling stars to make the background look the night sky at dusk.  Do you think this would add to the page at all or would it ruin the minimalistic design?

[2017-10-05 04:43] QuadDepo commented on #128
Well we can do it having some micro interactions in the background. @jbmills327

You wanna help me? i have some time friday

[2017-10-05 04:51] jbmills327 commented on #128
I might be able to do that Friday afternoon.  I put together a little something but it changed the background to black, twinkling stars and some creepy clouds floating by.  I can push it and them maybe you could take a look and see what you think?

[2017-10-05 07:39] QuadDepo commented on #128
@jenkoian you think we can use the official logo?

[2017-10-05 07:45] jenkoian commented on #128
@jbmills327 sounds interesting! Looking forward to the PR :)

@QuadDepo I don't think so no

[2017-10-05 21:20] ShavidzeT opened #167 "Routing or template engine crashes"
When you search pull request by username and navigation to prev and then next page it shows page without styles.
This occurs because during navigation loads only `prs.hbs` component without wrapper template

Thinking about how can I solve this problem.

Any suggestions?

[2017-10-05 21:27] ShavidzeT commented on #167
found problem https://github.com/jenkoian/hacktoberfest-checker/blob/master/controllers/index.js#L122

[2017-10-06 01:25] jbmills327 commented on #128
I made some changes and submitted the PR.  I was just having some fun and it was based on a  tutorial I had played around with a few months ago.  I hope you like it but I totally understand if it is too much. I have never used handlebars before so it is just some basic HTML and CSS.  Thanks for taking a look, I had fun just playing around!

[2017-10-06 07:32] #167 closed

[2017-10-06 16:18] ayush1999 opened #178 "Invalid PRs being counted"
Apparently, PRs created in my fork of the Hacktoberfest repo are also being counted as Contributions, and closed PRs (closed without merging) also add to valid contributions.

[2017-10-06 16:32] palash25 commented on #178
I think there is a need to check if a merged PR is submitted to the same repository as that of the issue referenced in the PR.

[2017-10-06 19:17] jenkoian commented on #178
All PRs count so long as the repo is open. Doesn’t matter if it’s fork, nor if the PR doesn’t get merged 👍

[2017-10-06 19:17] #178 closed

[2017-10-07 10:46] jussih opened #179 "User result page social media share feature"
People are sharing screenshots of the Hacktoberfest checker page in Twitter and other social media. Perhaps it would be possible to make the user's result page sharable with Open Graph meta tags so just sharing your result URL would unfurl in Twitter etc. There could also be share buttons like "Tweet this".

http://ogp.me/
https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/a

[2017-10-07 13:24] kvizdos commented on #179
This is a good idea.

I'll try and work on this!

[2017-10-07 13:32] kvizdos opened #180 "Only show 4 PRs"
Currently, if you have more than 4 PRs, you get a very long list to show what you've contributed to, what if we made it that only 4 showed, and then you could expand the list to show all of the PRs? I think this could be a nice feature for those who have tons of PRs.

[2017-10-07 13:52] ShavidzeT opened #181 "Image node UI during image loads"
There is a ui problem:
iPhone SE
iOS 11
Safari

![](http://www.picz.ge/img/s3/1710/7/a/adb84b0d627c.png)

[2017-10-07 18:12] ShavidzeT commented on #181
7c323ffd9b69e97ea25f4680864a74e659bfc164

[2017-10-07 21:06] ShavidzeT commented on #181
ui improved commit reference: bf2a0454d5ffb0ff57fd551fcb07aaac5cc97c69

[2017-10-07 23:40] avilapedro commented on #180
I do like your idea, but I think that most part of people using using this project are beginners. And as such, they may not have tons of PRs to be shown. Otherwise why would they be using that?

[2017-10-08 05:11] coderjay12 opened #184 "Add a PR created date."
**Current behavior:**
The PR description did not contain the PR created date.

**Expected behavior:**
It would be better if it contains the PR created date as well.

**Steps to reproduce:**
Just Navigate to the PR listing page.

[2017-10-08 09:46] jenkoian commented on #180
Yeah, I'd say it's quite rare that people have done more than say 10 PRs in which case minimal scrolling is needed. However, am open to a PR if you fancy, just that I'm not 100% convinced on the idea just yet :)

[2017-10-08 15:54] cfilby opened #187 "Add link to Hacktoberfest Issues if not yet done"
**Current behavior:**
Checker currently does not display a link to Hacktoberfest Issues on Github

**Expected behavior:**
It may be a nice feature to have a link to open Hacktoberfest issues on GitHub for users that have not yet completed their Hacktoberfest minimum PRs. Alternatively, it may be nice to embed some random open issues into the site itself, but at a minimum a link would be a nice con

[2017-10-08 20:08] Equim-chan opened #189 "Use alpine for Docker."
**Current behavior:**
For a small application, it's not really necessary to pull a whole debian/ubuntu image which is too large.

**Expected behavior:**
The image should not be too large.

**Steps to reproduce:**
At 864dee4b28f512ff63cee92747de7dd90aedd23b, the built Docker image is 720MB large.

[2017-10-09 08:09] #189 closed

[2017-10-09 08:09] #184 closed

[2017-10-09 08:09] #187 closed

[2017-10-09 12:55] staabm commented on #180
more important is, that only merged PRs count for hacktoberfest.

atm it looks like you are done after you submitted 4, but thats not the case.

you could even submit 10 PRs but dont get the hacktoberfest badge, as you need 4 merged.

[2017-10-09 13:43] jenkoian commented on #180
That is incorrect, any public PRs count for hacktoberfest, open/merged/closed it doesn't matter.

[2017-10-09 13:57] staabm commented on #180
ohh thx for pointing that out... I somehow had in mind this is not the case.

just double checked the website which proves you are right... sorry for the noise.

[2017-10-09 14:25] PAPERPANKS opened #192 "showng current year of fest"
**Desired Output**
![screenshot-2017-10-9 hacktoberfest checker](https://user-images.githubusercontent.com/13312568/31342594-e2ab919c-ad2a-11e7-870d-218b26ba79d0.png)

@jenkoian in which file i have to add function
[code]

Also how to call this function in `hacktoberfest-checker/views/index.hbs` file

[2017-10-09 14:30] jenkoian commented on #192
Nice idea, but I don't think we need to show the year, the colours already give that a way in a much more subtle and friendly way imo. Thanks though!

[2017-10-09 14:30] #192 closed

[2017-10-09 14:45] Optarion commented on #180
At least I guess we could show only PRs related to hacktoberfest filter.
I would be glad to do so if the idea is accepted.

Adding the hacktoberfest filter to this issue would help me a lot!

[2017-10-09 14:47] kvizdos commented on #180
so only show PRs with Hacktoberfest as a label? Any PR counts no matter the
label (right?)

On Mon, Oct 9, 2017 at 10:45 AM, Adrien Rousselet <notifications@github.com>
wrote:

--
Learn More About Me:
www.kentonvizdos.com | www.therotg.com

[2017-10-09 14:49] jenkoian commented on #180
Currently PRs with a hacktoberfest label should have a subtle border in a different colour, there is also this PR which may be of interest... https://github.com/jenkoian/hacktoberfest-checker/pull/186

[2017-10-09 14:50] Optarion commented on #180
Just checked the official site and you are right. Every PRs count !
My bad.

[2017-10-10 07:58] #180 closed

[2017-10-11 08:48] #179 closed

[2017-10-11 08:48] jenkoian opened #198 "Add editorconfig support"
I favour 4 space tabs for pretty much everything. http://editorconfig.org/

[2017-10-11 09:44] Manveer695 opened #200 "Hacktoberfest: To add Facebook share button to the website"
**Current behavior:**
No Facebook share button in the website

**Expected behavior:**
A Facebook share button or link should be available, when the score is shown.

Please add hacktoberfest tag to the issue. Thanks!

[2017-10-11 09:56] sharikovvladislav commented on #200
@jenkoian why  you added hacktoberfest tag?

can I just add it to my projects too? :)

[2017-10-11 09:59] jenkoian commented on #200
@sharikovvladislav not sure I understand?

[2017-10-11 10:01] sharikovvladislav commented on #200
You added hacktoberfest label.  So now PR which will solve this issue will participate in hacktoberfest event.

Am I right? Only PRs which solves issue with that label will be counted for event?

[2017-10-11 10:30] jenkoian commented on #200
Any PR regardless of label or status count. The label is just suggested by Digital Ocean to help get people involved.

[2017-10-11 10:30] #198 closed

[2017-10-11 10:31] sharikovvladislav commented on #200
Ok thanks.

[2017-10-11 11:52] spences10 opened #202 "[Q] Do your own PRs count toward Hacktober?"
Love this, thank you ❤️

This is a question really, a'la the issue title

I thought that your Hacktober PR quota only went towards projects that are not your own, no?

Currently showing me as 30/4 PRs of which 29 are dependency updates from Greenkeeper.io 🙃

[2017-10-11 11:56] spences10 commented on #202
Just checked the DO checker and it's the same, so guessing, yes? 🤷‍♂️

[2017-10-11 12:09] jenkoian commented on #202
Yeah, any PR, it's encouraged to not be your own repo's but it will still count. See https://github.com/jenkoian/hacktoberfest-checker/pull/186

[2017-10-11 12:09] #202 closed

[2017-10-11 16:30] sinAshish commented on #200
close this.

[2017-10-11 17:06] Thaynannadu opened #207 "error in css: class .Stars-three"
**Current behavior:**
Stars animation does not work.
Error in css, class:**.stars-three**

**Steps to reproduce:**
![captura de tela 2017-10-11 as 13 57 40](https://user-images.githubusercontent.com/16005700/31454728-c73aa426-ae8c-11e7-8470-98cb732067b9.png)

[2017-10-12 06:24] biigpongsatorn commented on #200
https://github.com/jenkoian/hacktoberfest-checker/pull/210

[2017-10-12 06:37] Rabinzon commented on #200
@biigpongsatorn you have a bug:)

[2017-10-12 07:09] uLan08 opened #212 "My username receiving 404"
**Current behavior:**
When typed `uLan08` in the field it says `Couldn't find any data or we hit an error, err try again?`

**Expected behavior:**
I should see my PR's, status, etc. I get a response when I try `curl https://api.github.com/users/uLan08`

**Steps to reproduce:**
Just type my username on the demo site.

[2017-10-12 07:22] biigpongsatorn commented on #200
@Rabinzon  I fixed it.

[2017-10-12 07:33] kenma9123 opened #213 "The page layout doesn't look good because of the stars and clouds style"
**Current behavior:**
With the newly added style UI for the stars and cloud the page layout doesn't look good. Because of the scrollbars.
![image](https://user-images.githubusercontent.com/1641990/31484029-2f0d6c58-af61-11e7-8aa4-8c9a6fa3a2ce.png)

**Expected behavior:**
it should be a perfect page with no scroll bar since we are only dealing a single section.

**Steps to reproduce:**
Just open th

[2017-10-12 08:14] #212 closed

[2017-10-12 08:15] jenkoian commented on #212
Thanks for reporting @uLan08! Funnily enough it was because you contributed to a repo called `pullrequests` 😆  Hopefully fixed now 👍

[2017-10-12 08:18] uLan08 commented on #212
LOL. I was curious as to why my name wasn't showing up.  Thanks!

[2017-10-12 08:38] jenkoian commented on #213
Hopefully fixed by #214 can someone confirm?

[2017-10-12 08:39] jenkoian commented on #207
See #213 and #214

[2017-10-12 08:39] #207 closed

[2017-10-12 08:39] jenkoian commented on #200
Fixed in #204

[2017-10-12 08:39] #200 closed

[2017-10-12 14:27] MadhavBahlMD opened #220 "Stars background image and animation not fixed, on scroll it disappears."
**Current behavior:**

![image](https://user-images.githubusercontent.com/26179770/31501327-96686c6a-af87-11e7-9c35-324cc2a81e7c.png)

**Expected behavior:**

![image](https://user-images.githubusercontent.com/26179770/31501344-a34683b8-af87-11e7-8cff-3e0826360fc0.png)
This background should be fixed

[2017-10-12 14:35] jenkoian commented on #220
@MadhavBahlMD are you able to provide a PR to fix? If not, I'll try and take a look later on 👍

[2017-10-12 14:37] MadhavBahlMD commented on #220
I am on it 👍

[2017-10-13 05:30] MadhavBahlMD commented on #220
@jenkoian Issue is now fixed 👍 😃

[2017-10-13 05:30] #220 closed

[2017-10-13 12:53] ankushChatterjee opened #226 "Add alt text to user github profile image"
According to Axe accessibility audit, images must have an alt text. But this image does not have one.

Should I go ahead for a PR?

[2017-10-14 15:14] feimosi opened #229 "User image is invisible when not hovered"
**Current behavior:**
After user data is loaded, the image is not visible until hovered:

![image](https://user-images.githubusercontent.com/5721520/31576807-0e3c806a-b103-11e7-9bdf-dfaf7f6fe2fd.png)

**Expected behavior:**
The image is visible (better UX, mobile devices etc.).

**Steps to reproduce:**
Enter GitHub username and press Enter

The following commit introduced this issue:
https://githu

[2017-10-15 11:08] f-breidenstein commented on #213
Tested in FF and Chrome. Looks good.

[2017-10-16 07:51] jenkoian commented on #229
@feimosi thanks for reporting, I can't seem to replicate though, do you mind letting me know what browser/OS you are using? Thanks!

[2017-10-16 08:05] jenkoian commented on #226
Fixed in #227

[2017-10-16 08:05] #226 closed

[2017-10-16 08:05] #213 closed

[2017-10-16 08:05] jenkoian commented on #181
Fixed in #182

[2017-10-16 08:05] #181 closed

[2017-10-16 08:06] jenkoian commented on #135
Fixed in #183

[2017-10-16 08:06] #135 closed

[2017-10-16 10:10] josh- opened #235 ""This is me" functionalist broken in WebKit (Safari)"
**Current behavior:**
- Clicking "This is me" throws the following exception in WebKit-based browser:

[code]

Furthermore, since this exception is thrown, the value isn't set and the page then doesn't redirect to `/me`

**Expected behavior:**
- Clicking on the "This is me" button saves the current username and redirects to me `/me`

**Steps to reproduce:**
1. Open the site in a WebKit-based brows

[2017-10-16 10:13] feimosi commented on #229
Never mind, I've just tested it in Incognito Mode and everything works fine. Looks like some extension is breaking it, so that `o-0` class is not being toggled.

[2017-10-16 10:13] #229 closed

[2017-10-16 10:13] jmerle opened #237 "The link to /me has no protocol"
**Current behavior:**
After you check the PR's for a user, the "In the future, you can find your PRs by visiting hacktoberfestchecker.herokuapp.com/me on this device." text pops up. However, the link in there has no protocol part, so it links to "https://hacktoberfestchecker.herokuapp.com/hacktoberfestchecker.herokuapp.com/me".

**Expected behavior:**
I expect it to link to "https://hacktoberfestc

[2017-10-16 10:15] jenkoian commented on #235
Fixed in #236

[2017-10-16 10:15] #235 closed

[2017-10-16 10:16] jenkoian commented on #237
Good spot, thanks. Are you able to PR a fix, else I'll get on it later.

[2017-10-16 10:17] hugomd commented on #237
I'm making a PR now 👍

[2017-10-16 11:12] #237 closed

[2017-10-16 14:48] jenkoian opened #239 "Add nvm support"
https://github.com/creationix/nvm#nvmrc

Should target latest LTS. Also should update the README.

[2017-10-16 16:52] StevenCopeland opened #240 "Add a different link for forking the code"
Try using this link for forking the code.
https://github.com/jenkoian/hacktoberfest-checker/fork

[2017-10-16 17:37] matiasdominguez commented on #239
Hi @jenkoian, I'd like to tackle this one.

[2017-10-16 20:17] kriswep opened #242 "This is me button not working"
**Current behavior:**
When clicking on the  `This is me` button after entering the GitHub username doesn't add the username to localstorage, /me route redirect to /

**Expected behavior:**
Clicking on `This is me` button should save current username to localstorage for usage in /me route

**Steps to reproduce:**
- make sure localstorage is empty
- go to home route, enter a username, click on the b

[2017-10-16 20:17] kriswep commented on #242
I will send a PR for this myself!

[2017-10-17 07:24] jenkoian commented on #242
Fixed in #243

[2017-10-17 07:24] #242 closed

[2017-10-17 07:25] jenkoian commented on #240
Thanks, as the banner has changed now to simply a github icon, I'm going to leave it as is. 👍

[2017-10-17 07:25] #240 closed

[2017-10-19 15:32] jrab66 opened #247 "How can i help for translations?"
i wanna help doing some translation for spanish people, how can approach that?

[2017-10-19 15:37] jenkoian commented on #247
@jrab66 nice! I'm too sure tbh, not a massive node guy, so not sure what the go to libraries are for this kind of thing. So open to suggestions basically!

[2017-10-19 18:30] Modified opened #248 "Uncaught SyntaxError: Unexpected token ILLEGAL main.js:74: backtick (`) illegal in "old" browser"
**Current behavior:**

As the title says: "Uncaught SyntaxError: Unexpected token ILLEGAL main.js:74".
**Expected behavior:**

Transpile it for JS (ES5), duh?
**Steps to reproduce:**

Run (ie open this site/app) in an "older" browser.

[2017-10-19 19:03] jenkoian commented on #248
What "older" browser are you using?

[2017-10-24 06:59] Manveer695 opened #253 "Is the closed PR considered by Hacktoberfest"
If closed PR isn't considered by Hacktoberfest, then it shouldn't come like this in the checker web page:
**Current behavior:**
![hacktoberfestissue](https://user-images.githubusercontent.com/20307535/31928521-179bacf2-b8b6-11e7-90a3-b0b2985792ca.PNG)

**Expected behavior:**
The number for the PR should be 3/4.

Please discuss the issue in the comments.

[2017-10-24 07:52] jenkoian commented on #253
Incorrect, closed PRs count all the same.

[2017-10-24 07:52] #253 closed

[2017-10-24 21:56] divyam3897 opened #254 "the PR limit"
**Current behavior:**

If you have PR greater than 30 it just shows the latest 30/4

**Expected behavior:**
It should show all the Pull requests.

[2017-10-25 08:03] jenkoian commented on #254
@divyam3897 you've been too busy! 😆  I guess this is because we're only hitting the first page of results from the API. Will put a hacktoberfest label against this if anyone wants to pick it up, else I'll take a look if I get chance. Thanks for reporting!

[2017-10-25 17:53] rvben commented on #254
I just made a PR to fix this issue.

[2017-10-25 20:47] krider2010 commented on #254
Haha oops - I was working on one at the same time!

[2017-10-25 20:48] krider2010 commented on #254
My change supports paging through all results rather than just pushing the `per_page` value, if the maintainer wants to offer that?

[2017-10-26 08:01] jenkoian commented on #254
Both excellent PRs so merged them both, thanks! :)

[2017-10-26 08:01] #254 closed

[2017-10-30 08:58] jenkoian commented on #248
Fixed in #262

[2017-10-30 08:59] #248 closed

[2018-09-18 10:10] OtacilioN opened #272 "This project is Awesome"
Hello,

I am starting an [Awesome list](https://github.com/OtacilioN/awesome-hacktoberfest-2018) for projects aimed at the hacktoberfest, and I think this project might be in that list.

So feel free to Open a Pull Request adding this awesome project to the list!

Thank you!

[2018-09-18 11:18] OtacilioN commented on #272
Thank you! Approved!

[2018-09-18 11:18] #272 closed

[2018-09-18 16:27] #107 closed

[2018-09-18 16:27] jenkoian commented on #107
Closing in prep for 2018 rewrite.

[2018-09-18 16:27] jenkoian commented on #128
Closing in prep for 2018 rewrite.

[2018-09-18 16:27] #128 closed

[2018-09-18 16:27] jenkoian commented on #239
Closing in prep for 2018 rewrite.

[2018-09-18 16:27] #239 closed

[2018-09-18 16:28] jenkoian commented on #247
Closing in prep for 2018 rewrite.

[2018-09-18 16:28] #247 closed

[2018-09-23 22:59] rosariopfernandes opened #273 "Update for 2018"
The [Hacktoberfest site](https://hacktoberfest.digitalocean.com) has already been updated for the 2018 Edition. It now has a different color scheme and you must complete 5 Pull Requests to win the T-shirt.
Needless to say, I'm suggesting the update of this project for this year's edition.

[2018-09-24 07:19] jenkoian commented on #273
Thanks for the nudge, hopefully sort something this week :)

[2018-09-24 07:19] #273 closed

[2018-09-24 22:07] rosariopfernandes commented on #273
I would be more than happy to contribute with a PR to update the year and the necessary Pull Requests number to win the shirt.
Then you'd only need to worry about changing the color scheme.

[2018-09-25 08:41] jenkoian commented on #273
@rosariopfernandes that's very kind, definitely up for some help! What I like about this project is it's a nice lightweight app to help people contribute, so am really keen to do the same this year. One thing I would like to explore though is turning it into a small React app, but keeping it really light weight. As React is so ubiquitous now I think it makes sense, and hopefully it can encourage o

[2018-09-25 08:51] rosariopfernandes commented on #273
Wow, sounds good to me.

[2018-09-25 08:56] jenkoian commented on #273
Alright, realistically I'm not going to get chance to work on this until the weekend (nothing like leaving it until last minute!) but should be able to review PRs, so feel free to submit anything if you want, else I'll start something on the weekend and assign you to review 👍

[2018-09-26 11:47] rosariopfernandes commented on #273
Ah, don't think I'll have any free time before the weekend to learn React. But I'd be happy to review your work.

[2018-09-30 18:59] zac-garby opened #275 "Needs to be updated for this year's Hacktoberfest"
The website shows my contributions for last October.

[2018-09-30 23:18] damiankw commented on #275
I believe the code is updated, but the herokuapp isn't updated yet, it might need to be manually pushed if it doesn't accept auto updates.

[2018-10-01 06:47] tessus opened #277 "doesn't run behind a reverse proxy"
**Current behavior:**
Several files are not found. e.g.: `tachyons.min.css`, `main.css`, ...

**Expected behavior:**
It should show the web site correctly (the same way as if it were run locally).

**Steps to reproduce:**

- Start with `yarn start`
- Add the following to your local MAMP/LAMP installation (or your production web server):
[code]
- browse to http://localhost/hacktoberfest

[2018-10-01 07:58] jenkoian commented on #275
Yep on it, trying to host it on digital ocean this year as they kindly gave me some vouchers. Just waiting for DNS to propagate now I believe.

[2018-10-01 08:42] jenkoian commented on #275
Ok deployed to heroku, having some issues with the digital ocean version, will keep trying, but for now consider it released!

[2018-10-01 08:42] #275 closed

[2018-10-01 08:44] jenkoian commented on #277
Thanks, I got this working on digital ocean with a reverse proxy, here is the relevant nginx config:

[code]

[2018-10-01 12:35] tessus commented on #277
Well, I looked into it in more detail. Your setup works, because you are using a separate virtual host (`hacktoberfest.example.com`) and place it directly in the document root `/`.

As soon as you want to run it in a subdirectory (`example.com/hacktoberfest`), it doesn't work anymore.

This means your app can only be deployed in the root of a virtual host, which can be a problem in the age of web

[2018-10-01 15:10] tessus commented on #277
Btw, here are the changes I've made so far: https://github.com/tessus/hacktoberfest-checker/tree/reverse-proxy-support

However, I believe there's a routing issue still present somewhere since I can't fix above 2 mentioned issues.

[2018-10-01 18:01] tessus commented on #277
I also tried your nginx config:

[code]

Same issues as with Apache, which basically confirms it is not a reverse proxy issue, but a routing inconsistency in the nodejs app. Unfortunately I know too little about nodejs so I can't figure this out myself.

For some reason, the change of the form action in https://github.com/tessus/hacktoberfest-checker/blob/reverse-proxy-support/views/index.hbs#L4 f

[2018-10-01 20:25] jenkoian opened #281 "Display number of PRs opened within hacktoberfest"
If you look at https://hacktoberfest.digitalocean.com/details it mentions the first 50,000 registered people will be eligible for the t-shirt. Now obviously we don't have access to the number of people registered but it may still be quite nice to display the total number of PRs opened in October. This is of course if we can indeed get such information from the Github API.

[2018-10-01 20:28] jenkoian opened #282 "Update open graph thumbnail"
When [mentioning the site on social media sites](https://twitter.com/jenko/status/1046812330502365184) it will use [this image](https://github.com/jenkoian/hacktoberfest-checker/blob/master/public/img/og.png) for its thumbnail. It needs to be updated with this years colour scheme.

[2018-10-01 20:34] chgasparoto commented on #281
I'll take a look.

[2018-10-01 20:39] ismailuddin commented on #282
I'll be happy to replace that!

[2018-10-01 20:54] omergulen commented on #282
I'm gonna add some color options, so you can choose one.

[2018-10-01 21:00] jenkoian opened #283 "Use Github GraphQL API"
This is kind of a hard pick, but I *really* like graphql and think github have a nice graphql API. A fair bit of a work, but certainly not an easy pick, but might be quite nice to use the graphql API over the existing REST one.

[2018-10-01 21:01] jenkoian opened #284 "Remove no longer used assets"
Have some leftover assets which are no longer used, be good if they could be removed. e.g. https://github.com/jenkoian/hacktoberfest-checker/blob/master/public/img/clouds.png and https://github.com/jenkoian/hacktoberfest-checker/blob/master/public/img/stars.png

[2018-10-01 21:02] nicoffee commented on #284
I'l take it

[2018-10-01 21:03] jenkoian opened #286 "Replace tachyons with tailwind"
I love tachyons and think it works really nicely on this app. However, I'm a fan of the full stack radio podcast and subsequently really intrigued and eager to try out tailwind.

It's potentially a fair amount of work because you'd likely need to replace all the classes used and probably also some of the custom styles, but would love to give tailwind a whirl.

https://tailwindcss.com/

[2018-10-01 21:17] tessus commented on #277
Unfortunately no.

Because the hostname is the second issue (see https://github.com/jenkoian/hacktoberfest-checker/issues/277#issuecomment-425891175) in a reverse proxy situation:

The result shows
`... your PRs by visiting http://localhost:5000/me on ...`
instead of
`... your PRs by visiting http://localhost/hacktoberfest/me on ...`

[2018-10-01 21:19] marvinkome commented on #283
Can you give a full detail about the issue? are we trying to replace the REST API with GraphQL or use graph on top rest API? Also, I'll love to pick it, I'm excited about GraphQL and Apollo

[2018-10-01 21:27] marvinkome commented on #283
For checking if a PR has been merged we can use GraphQL too I guess it'll just be another field in the query, I'm not really sure.

[2018-10-01 21:41] omergulen commented on #281
It seems like we can't do direct search on GitHub API, hence we need to find issues created after October 2018 and labeled with hacktoberfest and then find their PR's.

[2018-10-01 21:47] nunsie commented on #283
nice work on this @jenkoian  would be keen to contribute to gql integration as well, probably see the query looking something like:

[code]

although would need to add a date filter on the pr's.

Would love to implement this on a react frontend, will you be pushing the react branch you mentioned in the readme anytime soon? 😄

[2018-10-01 21:48] tessus commented on #277
Maybe, I just don't know how. Maybe by checking if any `X-Forwarded-*` headers are set and if so, use those instead. I have to check the js reference on how to do that.

While this might solve problem number 2, it most likely won't fix problem number 1. I even tried hardcoding `/hacktoberfest` (also tried the full hostname and path) in the form action (for testing purposes), but this didn't help e

[2018-10-02 03:00] tessus commented on #277
Ok, I've found additional absolute references. After replacing them with relative references, the app runs behind a reverse proxy - mostly.

2 last issues (but I think I'm getting closer):

- the requested path is never transmitted to nodejs (e.g. when accessing `http://localhost/hacktoberfest`), the path in nodejs still  shows `/` instead of `/hacktoberfest`:

[code]
   This is lolgical, because

[2018-10-02 06:06] tanmayrajani commented on #281
Wouldn't that be misleading? I mean, the issue doesn't need to be opened in October (AFAIK), it doesn't need to contain the Hacktoberfest label.

[2018-10-02 08:05] zjael commented on #286
I will give it a shot. 🤞

[2018-10-02 08:50] AhsanAyaz opened #295 "Docker build: Expected node version >= `8.0.0` while docker file has `6-alpine`"
PS: **I'm working on the fix**

--

**Current behavior:**

The app doesn't work on docker because it throws the following error while building
[code]

**Expected behavior:**
Should build the app correctly using node version 8

**Steps to reproduce:**
Clone the repository, make sure you're running Docker.
Run `docker build -t hacktoberfest-checker .`

[2018-10-02 09:32] nicoffee opened #297 "Replace logo with new one"
**Current behavior:**
Old logo with bold font.

**Expected behavior:**
New fancy svg-logo.

Hey, i suggest to replace current logo with new one. New one has same font as https://hacktoberfest.digitalocean.com/ use. I made svg for it.
If you don't like it, i will just close my PR :)
Thanks!

[2018-10-02 10:41] #297 closed

[2018-10-02 13:09] omergulen commented on #281
AFAIK it needs to be, also we need to get PR's, not issues as in #292. It needs to be fixed, correct me if I am wrong.

[2018-10-02 15:01] omergulen commented on #282
Done.

[2018-10-03 15:56] jenkoian commented on #282
Fixed in #285

[2018-10-03 15:56] #282 closed

[2018-10-03 15:56] jenkoian commented on #295
Fixed in #296

[2018-10-03 15:56] #295 closed

[2018-10-03 15:57] jenkoian commented on #283
@nunsie nice, yeah sorry will get that react branch up soon 👍

[2018-10-03 15:57] jenkoian commented on #284
Fixed in #289

[2018-10-03 15:57] #284 closed

[2018-10-03 16:06] jenkoian opened #304 "Update Pull Request template"
I don't think the existing pull request template is great, so would like to update it. Am open to ideas of what it should be, or even if we need one at all?

One PR template I came across recently which I really liked was this: https://raw.githubusercontent.com/timber/timber/master/.github/PULL_REQUEST_TEMPLATE.md although the messages will likely need to be tweaked as this project isn't as big as

[2018-10-03 16:31] deneuv34 commented on #304
Cool!

About the sample template. I want to discuss, how about we add the `Screenshot` section for optional section?

[2018-10-03 17:57] mtpjr88 commented on #281
is someone working on this or can I take it?

[2018-10-03 19:30] chgasparoto commented on #281
@mtpjr88 there is a discussion on #292

[2018-10-03 20:43] jenkoian opened #309 "Sort out npm scripts."
There are a few npm scripts, some of which do things like compile with babel etc. However, it seems we're using this in dev then committing the compiled assets. I think we should probably be ignoring these from git and doing this as part of the start task.

I'm wondering if anyone fancies picking this housekeeping up?

[2018-10-03 20:49] mstruebing commented on #309
I'll take care :+1:

[2018-10-03 21:03] mstruebing opened #312 "Use yarn in travis instead of npm"
I've seen that you are using npm in travis but you are providing a `yarn.lock` - which indicates that you are primarly using yarn and there is even no `package-lock.json` file.

So - travis should be using what devs and production is using to give reliable results.

It would be nice if you would add the hacktoberfest label to these issue :D

[2018-10-03 21:06] jenkoian commented on #312
Agreed and done 👍

[2018-10-03 21:11] #312 closed

[2018-10-03 21:20] mstruebing commented on #309
@jenkoian you need to close this issue manually.

[2018-10-03 21:34] jenkoian commented on #309
Fixed in #311

[2018-10-03 21:34] #309 closed

[2018-10-04 15:47] crweiner opened #317 "Feature Request: Add Microsoft's Participation in Hacktoberfest"
**Current behavior:**
Currently, this project tracks all PR's a person makes, regardless of what the repo is.

**Desired behavior:**
Microsoft has thrown their hat into the ring with their own t-shirt giveaway for Hacktoberfest, separately from DigitialOcean/Github/Twilio (even though they own Github now), when you make a meaningful PR on their own open source repos.

See their blog posts:
https:/

[2018-10-04 16:17] jenkoian commented on #317
Nice! This is a really neat idea! Shouldn't be too tricky to do either, just see if the repo of a PR is owned by microsoft and tally them up if any to present a score, possibly we can add a label to the PR too (like we do with the hacktoberfest label).

[2018-10-04 16:31] crweiner commented on #317
Glad you like the idea, and I hope others find it useful too!
I have a branch to work on it [here](https://github.com/crweiner/hacktoberfest-checker/tree/microsoft), but I honestly don't have that much time at the moment and someone else will probably be able to do it faster and better than me. :smile:
They have a lot of repos, and apparently anything on [this list](https://opensource.microsoft.co

[2018-10-05 03:05] tessus opened #318 "Excessive logging in production"
**Current behavior:**
When `NODE_ENV` is set to `production`, all requests are still logged to stdout. This is rather excessive.
I also don't really care how many PR there have been found and how many API calls are remaining.

**Expected behavior:**
This information should only be printed for a non production environments or when an env var ist set.

**Steps to reproduce:**
run with `NODE_ENV=prod

[2018-10-05 07:16] yeshijinsel commented on #304
I wanna take this issue

[2018-10-05 08:34] frextrite opened #319 "React Version of Hacktoberfest Checker"
**Current behavior:**

Couldn't find the branch with the react version as stated in the README

**Expected behavior:**

expected to find a branch with react version of the website as stated in the README

**Steps to reproduce:**

check branches

Maybe open source the react version so that the community could contribute to it.

[2018-10-05 08:48] jenkoian commented on #318
I think the API calls remaining is useful, but perhaps we can only log that if under 10 or something? Just so that if we stop getting results we can look at logs and easily see that it's due to API calls running low. The other one yeah I'm happy to not log in production. Either debug or winston look fine, I'd go for the one with the smallest footprint.

[2018-10-05 08:48] jenkoian commented on #319
yep, sorry been really short of time, the react branch is really early/small but will get that up soon promise!

[2018-10-05 18:03] frextrite commented on #319
Great! Eagerly waiting for it.

[2018-10-05 18:16] tessus commented on #318
Well, `winston` and `debug` are sort of different, when it comes to the philosophy of how it is used.
That's why I need you to decide which one you like better.

Maybe the community has some inout on this as well.

Yes, this makes sense. However, this is a warning and should be marked as such.
Warnings should not be shown in production. Unless you set it to show warnings as well.

This however is

[2018-10-05 18:29] tessus commented on #318
Also, since there isn't any real debug information, a module might not be necessary and we can use the `NODE_ENV` var to determine if the text should be printed. I'll do this for now.

You can decide at a later point, if you want to use a logger module - and which one...

[2018-10-05 19:40] jenkoian commented on #318
We already use a library called morgan for logging https://www.npmjs.com/package/morgan are we able to just use that? If not this article https://www.digitalocean.com/community/tutorials/how-to-use-winston-to-log-node-js-applications seems to suggest morgan works well with winston, so guess that's preferable.

Logging just an error when API calls are out on production makes sense to me too.

[2018-10-05 19:45] tessus commented on #318
I have already something that works to reduce logging. I'm not using anything but the env var now.
Using winston might be a good idea for the future.
The changes are on top of the reverse-proxy-support branch...

[2018-10-05 21:01] crweiner commented on #317
So, I recently found out that there are at least a few other companies that are also giving away items for Hacktoberfest. While DigitalOcean and Microsoft are obviously the largest, there are several smaller tech companies giving out shirts and stickers as well.

I'm compiling a list of them here: https://github.com/crweiner/hacktoberfest-swag-list

Obviously, this checker doesn't need to be updat

[2018-10-06 00:13] tessus commented on #318
This means as soon as #310 is merged, I can create another PR to close this issue. ;-)

[2018-10-06 21:48] jenkoian commented on #317
@crweiner yeah am aware there are a few others, my stand on it, we'll support as many as people wish to contribute! The caveat being that the page still feels pretty light. 😃

[2018-10-06 21:48] jenkoian commented on #304
@yeshijinsel about to close this one as someone has already picked it up, thanks though!

[2018-10-06 21:48] #304 closed

[2018-10-08 07:59] #277 closed

[2018-10-08 14:49] sidvishnoi commented on #281
In case no one has noticed it, Hacktoberfest site has an API:
https://hacktoberfest.digitalocean.com/api/statistics

[2018-10-08 14:55] jenkoian commented on #281
@sidvishnoi good spot! :) suspect using that would be against their T&C's but worth asking I think.

[2018-10-08 15:04] sidvishnoi commented on #281
Looking at that `last_updated_at` timestamp, looks like they update it once per day. Maybe we can store and update it by a cron job (or even manually)

[2018-10-09 16:15] jenkoian commented on #286
Fixed in #299

[2018-10-09 16:15] #286 closed

[2018-10-09 17:49] jenkoian opened #323 "Fix sharing buttons"
Possibly just me but the sharing buttons no longer seem to do the right thing, for example Twitter just opens the compose tweet page on the Twitter app on iOS with no message. Also the og thumbnail seems broken.

I’m afk for a while so adding it here unless anyone is able to pick up otherwise will look at when I can

[2018-10-09 18:13] andriyleu commented on #323
Gonna give it a go.

[2018-10-09 18:14] coderwassananmol commented on #323
Trying it! :)

[2018-10-09 19:01] coderwassananmol opened #325 "Change every herokuapp URL to https://hacktoberfestchecker.jenko.me/"
**Current behavior:**

Currently, there are links in app.json and prs.hbs which have link to herokuapp.

**Expected behavior:**

It should be set to default to [https://hacktoberfestchecker.jenko.me](https://hacktoberfestchecker.jenko.me)

**Steps to reproduce:**

[2018-10-09 19:45] AhsanAyaz commented on #319
@jenkoian I'd love to do it if the title had `Angular` 😄

_All frameworks are good_

[2018-10-09 20:29] Busterz commented on #325
Hi, I have addressed this issue - PR (Updated app.json and prs.hbs files #327). Please review, thanks!

[2018-10-09 20:35] tessus commented on #323
Well, the button does exactly what it is supposed to do. Have you tried it in your desktop browser?
(You also have to deactivate any AdBlocker with cosmetic filtering.)

However, there's a real problem with the Twitter and FB share buttons, since the hostname is hardcoded.

I have submitted #326 to fix this.

[2018-10-09 20:38] tessus commented on #323
since commit 50e350ec17aeb759916f3099b295d8387597c588 the share buttons do not work anymore.

[2018-10-09 21:40] jenkoian commented on #323
Think this is sorted now, thanks for your help everyone 👍

[2018-10-09 21:40] #323 closed

[2018-10-09 21:40] jenkoian commented on #325
Good catch thanks

[2018-10-09 21:51] tessus commented on #323
@jenkoian I think you missed a few things:
- commit 5d976badec0461eeda160e692f2eebdb9c689531 screwed up my change. now it does not work anymore.
- commit 5d976badec0461eeda160e692f2eebdb9c689531 is only a partial fix, because the FB share button still does not work - it's actually not a fix at all, but hardcodes the link which is supposed to be compiled by the twitter javascript, yet the javascrip

[2018-10-09 22:08] jenkoian commented on #323
@tessus I've made some commits to master, please review. For me everything works just fine on the main url, the heroku one I'm seeing some odd behaviour. Need to investigate but it's late here so going to have to pick this up tomorrow.

[2018-10-09 22:20] tessus commented on #323
@jenkoian your changes broke the following code:

[code]

which you seem to have removed. I think you didn't understand why that code was necessary for a certain case in a reverse proxy situation (accessing `http://example.com/subdir/?username=xxx` directly).

Hardcoding the link is only a workaround and does not fix the root cause. As I mentioned before your javascript stopped working. You should

[2018-10-10 04:42] Busterz commented on #325
@coderwassananmol Take note that there is no need to change the link in prs.hbs anymore because it has been changed to a dynamic one.

[2018-10-10 06:33] andriyleu commented on #323
Why this has been closed? Should be done the way @tessus has said. @jenkoian

[2018-10-10 08:17] jenkoian commented on #323
@tessus want to get this working for you, would you mind just clarifying a few things..

Can you link to where this is hardcoded? Currently the urls are populated by the hostname passed across from the node side.

This is likely related to the above, so you mean hardcoding the facebook/twitter urls here?

Presumably you mean somewhere within this commit range?
https://github.com/jenkoian/hacktober

[2018-10-10 15:06] tessus commented on #323
I'll answer your questions this evening (in about 8h).

[2018-10-11 00:10] tessus commented on #323
50e350e...adf1ebd

Yes, all commits after 50e350ec17aeb759916f3099b295d8387597c588 (except 25ca0b4e7582411f261f449fffef79091b67c4c3) are trying to fix things that were broken by 50e350ec17aeb759916f3099b295d8387597c588.

Maybe the term hardcoded is a bit exaggerated, but close to it.

The working code used this javascript:

[code]

which used the following HTML

[code]

to create the social media

[2018-10-11 08:27] jenkoian commented on #323
Thanks that explains a lot. Yeah I think we should store the app url as an env var, seems like it would solve a lot. Unfortunately, I'm really struggling for time at the moment, if you want to do a patch that'd be great, otherwise may be a few days if you can wait.

[2018-10-11 14:55] tessus commented on #323
I can do the code for the env var, but I don't know how to fix the javascript code that broke with  50e350e.

The links should not be created like they currently are. I really think you should revert some of those commits: 5d976badec0461eeda160e692f2eebdb9c689531 and 5f0baf7956c3e7785f921ff7d152cdbc073cbc02.

[2018-10-11 15:11] jenkoian commented on #323
Need to spend more time (which I don't have :() looking into it but when I looked at the docs it didn't seem like data attributes like that were supported anymore.

[2018-10-11 20:46] tessus commented on #323
Curious, I looked at the twitter doc https://developer.twitter.com/en/docs/twitter-for-websites/tweet-button/guides/parameter-reference1 and there's a section `HTML data-* example`...

[2018-10-12 08:51] jenkoian commented on #323
ah it was https://developer.twitter.com/en/docs/twitter-for-websites/tweet-button/overview.html I was looking at, didn't get as far as the Guides section! Alright, will try and find some time to sort all this.

[2018-10-12 08:52] jenkoian commented on #325
Thanks for raising this, think it can be closed now though.

[2018-10-12 08:52] #325 closed

[2018-10-17 02:10] RDIL opened #332 "Vulnerabilities"
**Current behavior:**
In github@11.0.0 (I think thats the version)

**Expected behavior:**
Github upgraded to 12.0.0

**Steps to reproduce:**
look at package file

[2018-10-17 11:45] #332 closed

[2018-10-26 22:20] MiniMarvin commented on #317
May I start adding tips to the user to enter those other hacktoberfest contests? I found out about microsoft just now and I think it is already a good think to add here

[2018-10-26 23:08] jenkoian commented on #317
Sure!

[2018-10-29 17:06] jenkoian commented on #319
Merged! Thanks again @rafaelklaessen

[2018-10-29 17:06] #319 closed

[2018-10-29 18:14] rafaelklaessen commented on #319
:smile:

[2018-10-29 22:14] yikjin opened #340 "Bug: '0' displayed in pull request list when no pull requests are made"
**Current behavior:**
Look up any user who has no pull requests made during the month of October. A `0` is displayed where the list of pull requests should be.

![The zero bug](https://user-images.githubusercontent.com/34995304/47683528-cce2cf00-dc0a-11e8-81b2-06250b1b2fb2.jpg)

**Expected behavior:**
The list of pull requests should not be visible at all.

**Steps to reproduce:**
1. Look up any u

[2018-10-30 10:02] jenkoian commented on #340
Thanks for reporting, will take a look when I get chance 👍

[2018-10-30 16:21] #340 closed

[2018-11-03 00:56] tessus opened #345 "npm run-script build abends"
**Current behavior:**
I get the following error:

[code]

**Expected behavior:**

It should build successfully.

**Steps to reproduce:**

- clone repo
- npm install
- npm run-script build

[2018-11-03 01:02] tessus opened #346 "how to run the react app behind a reverse proxy?"
How do I run the new react app behind a reverse proxy?

Previously I set the following in my Apache conf:

[code]

And this in `.env`:

[code]

[2018-11-07 20:40] tessus commented on #346
any comment? I could really use some help.

[2018-11-07 21:15] jenkoian commented on #346
Sorry struggling for time, it should still work the same but the env var name has changed and you'll need to run build script first.

[2019-09-30 11:47] #283 closed

[2019-09-30 11:47] #281 closed

[2019-09-30 11:47] #317 closed

[2019-09-30 21:08] siddhantvirus opened #357 "Update App for 2019"
Since this is not exactly a bug , I couldn't follow the default template for issues for this repository.

The app doesn't work for Hacktoberfest 2019.

1.We need to update the minimum pull requests to 4 from 5 , which is the norm last year .
I believe we need to edit the file at src/pages/User/components/PullRequests/pullRequestAmount.js , and change the const value .
https://github.com/jenkoian/h

[2019-09-30 21:58] tessus commented on #346
Hmm, why did you close this issue. Nonody has ever answered my question:

right, but now there are 2 variables REACT_APP_HOSTNAME and REACT_APP_API_URL.
Previously it was very clear. The app ran on port X and you pointed ProxyPass to that port and you set the external URL.
But now there are 2 URLs to set (frontend, api) and no external URL.

How do I set them correctly?

[2019-09-30 22:01] tessus commented on #345
This still happens, so this hasn't been fixed.

[2019-09-30 22:19] jenkoian commented on #357
Hey thanks for this, new update coming soon (before 00:01 GMT I hope!) I'll get back to you tomorrow (after a sleep :))

[2019-09-30 22:40] siddhantvirus commented on #357
I would love to see the new update . Can't wait :)

Please let me know if I can help in anyway.

[2019-09-30 22:50] jenkoian commented on #357
Thanks @siddhantvirus - new version is up, it's late here so going to bed, but will look through your points closely tomorrow. Thanks!

[2019-09-30 22:51] frenck commented on #357
Unfortunately, it is still showing me the PRs of last year :(

[2019-09-30 23:13] jenkoian commented on #357
You’re right, damnit - if you are able to submit a pr I will merge otherwise it will have to wait until morning - apologies for the bug!

[2019-10-01 09:07] jenkoian opened #363 "Update open graph image"
Current open graph image is the one from last year, needs updating for the 2019 version. The current one can be seen here: https://github.com/jenkoian/hacktoberfest-checker/blob/master/public/img/og.png

[2019-10-01 09:28] #363 closed

[2019-10-01 12:11] jenkoian commented on #357
Ok this fixed itself, I imagine it's a timezone thing, possibly related to server time too. Regarding the other points...

Thanks for the fix @siddhantvirus

So this is interesting, currently it dips into September 30th in some timezones (and November the 1st) due to us catering for the various time zones around the world, i.e. if you submit a PR 00:01 on November 1st GMT it will still count as it

[2019-10-01 12:46] frenck commented on #357
It is based on the earliest and latest timezones.

Between SST (Samoa Standard Time, UTC-11:00) & LINT (Line Islands Time, UTC+14:00).
This covers all timezones in the world.

[2019-10-01 12:52] jenkoian commented on #357
@frenck thanks, I think that's what I was trying to suggest, although maybe I need to update my timings

[2019-10-02 07:49] jasminexie commented on #357
Hi! I was using this site for this years' Hacktoberfest, and I noticed that although the number of PRs required has been changed to 4 for this year, the user info text in `components/PullRequests/UserInfo/ResultMessage/getResultMessage.js` has not changed.

[code]

So 4/4 shows "So close!".

[2019-10-02 08:34] jenkoian commented on #357
@jasminexie that is a great spot! (and also massive props to getting to 4 so early!!) - would you be able to make it 5 and providing a fix?

[2019-10-02 09:14] jasminexie commented on #357
Thanks. Right now it’s a National Holiday where I live so I have a lot of time on my hands. I could make a PR for this, but I also believe that maintainers are usually proud of their projects and would like to customize and/or show off where possible (at least I’m guilty of that 🤣) and I thought you might like to change the messages yourself. “w00t awesome! 🎃 “ or something like that.

Or I could

[2019-10-02 09:17] jenkoian commented on #357
@jasminexie 😃 what I'm most proud about this project is how the community has really helped bring it on and make it better than I ever imagined. I'm sure whatever wording you choose would not be boring 🙂. If you wanted to provide a PR I'd look forward to reviewing it, but no worries if not, I'll make the change shortly 🙂

[2019-10-02 10:58] jenkoian opened #367 "Add FAQ section"
There are a few things on the app which I think could do with some explaining. For example the new 'pending' text and why some PRs show as counting but the date may be Sept 30th or Nov 1st.

I think the best thing would be to have a new page called FAQs which answers these curiosities.

Questions I have in mind:

Q: Why do some PRs have 'Pending' next to them?

A: There is a grace period this year

[2019-10-02 11:03] wale-bant commented on #367
Hi, can I work on adding the FAQ page and update it as more questions come up?

[2019-10-02 11:13] hjaintech commented on #367
Hi @jenkoian , I have fixed this issue in [this](https://github.com/jenkoian/hacktoberfest-checker/pull/368) PR. Please review and merge.

[2019-10-02 12:11] jenkoian commented on #367
To clarify, I mean an FAQs page on the web app not in the README.

[2019-10-02 12:55] computamike commented on #345
I'll have a crack at this...

[2019-10-02 14:28] siddhantvirus commented on #367
@jenkoian do you want an js page for the same ?

[2019-10-02 20:27] DirtySoc commented on #367
Not sure if you are assigning this issue or note @jenkoian but I started working on adding a FAQ page to the web app.

[2019-10-02 20:55] jenkoian commented on #367
@DirtySoc hadn’t planned on assigning but feel free to raise a PR when you’re done 🙂

[2019-10-02 21:32] DirtySoc commented on #367
@jenkoian could you take a look at my fork and let me know why my FAQ div's are not rendering? I don't have much experience with CSS and I think that the divs are getting squished? I'm not sure.
https://github.com/DirtySoc/hacktoberfest-checker

[2019-10-03 00:38] DirtySoc opened #374 "Non-merged PR's count towards the goal"
![image](https://user-images.githubusercontent.com/33207400/66091153-9d43f180-e554-11e9-86a3-961e87e8cdfd.png)

[2019-10-03 01:19] Pedro-Mendes commented on #374
Not a bug. Hacktoberfest doesn't care if the PR is merged or not to give away the prizes.

[2019-10-03 01:20] Pedro-Mendes opened #375 "Merged PRs appear as "pending""
Although the icon changes, the "pending" status remains

[2019-10-03 01:27] #374 closed

[2019-10-03 03:16] vccolombo opened #376 "Pull request in user page not aligned"
Hello!

As can be seen in [this image](https://imgur.com/a/qBm7psP), it looks that some PR entries (maybe all opened PRs?) are unaligned (at least for me).

I tested it in both firefox and chrome, Ubuntu 16.04. My bet is that the div class for it is wrong, as it seems that hacktoberfestp-4 does not exists. I really don't know html and css, so I may be wrong, but I managed to fix it by changing hac

[2019-10-03 08:49] jenkoian commented on #375
Yeah, so pending isn't related to the status of the PR - see https://github.com/jenkoian/hacktoberfest-checker/issues/367#issue-501418684 for an explanation

[2019-10-03 08:59] jenkoian commented on #376
Thanks, I've noticed this too!

[2019-10-03 09:01] #376 closed

[2019-10-03 09:15] #375 closed

[2019-10-03 12:56] Busterz commented on #367
Hi @jenkoian , since this issue is still listed, can we still do a PR on this? or it is closed already?

[2019-10-03 13:25] Busterz opened #378 "Horizontal scrollbar on a fitting page"
I am not sure if this is an issue but I think it is pretty unusual for a seemingly fitting page to the browser. There exists a horizontal scrollbar like shown below.

![image](https://user-images.githubusercontent.com/15963091/66129840-3b9e8880-e623-11e9-9440-0e6b7695b7de.png)

When scroll it to the right, I noticed this blank segment as shown on the screenshot above.

Let me know if there is any

[2019-10-03 13:31] DirtySoc commented on #367
Hey @Busterz, I have an open PR I'm working on to solve this issue, but AFAIK its a free for all. If you want to try yourself go ahead and fork/branch and create a PR.

[2019-10-03 13:48] jenkoian commented on #378
Thanks @Busterz I think it's been fixed as part of this PR which I hope to merge soon https://github.com/jenkoian/hacktoberfest-checker/pull/373

[2019-10-03 13:48] #378 closed

[2019-10-03 13:49] jenkoian commented on #367
@Busterz @DirtySoc have reviewed that PR and I had a few little things, the main thing is the design of the FAQs themselves, if you want to take a stab at that, maybe branch from @DirtySoc's branch or something?

[2019-10-03 13:51] Busterz commented on #378
Thanks! Looking forward to the changes.

[2019-10-03 15:20] jenkoian opened #379 "Glowy title"
I really like the glowy effect on this VS code theme: https://github.com/robb0wen/synthwave-vscode and was wondering if we could do something similar with the `Hacktober` part of the title on the site.

The CSS from the theme is here: https://github.com/robb0wen/synthwave-vscode/blob/master/synthwave84.css for inspiration

[2019-10-03 15:46] thatzacdavis opened #380 "Social Button Padding is Uneven"
For both the `Tweet` and Facebook `Share` buttons, the icon is closer to the top of the button than the bottom.

[2019-10-03 21:23] JacobStewart20 commented on #380
i can fix this

[2019-10-04 09:38] echowebid commented on #379
Please review :) #384

[2019-10-04 10:20] jenkoian commented on #380
@JacobStewart20 thanks!

[2019-10-04 18:08] Busterz commented on #367
I was actually looking at the other two new issues #379 and #380  but apparently there are people working on them. Guess I will take a look at @DirtySoc 's branch and give it a shot @jenkoian

[2019-10-04 18:10] Busterz commented on #367
Hey @jenkoian , if you don't mind, I just want to take this opportunity to thank you for starting this site because i have been using it for 3 years straight now for Hacktoberfest.

[2019-10-05 02:09] JacobStewart20 commented on #380
#386

[2019-10-05 10:18] Busterz commented on #367
Hi @jenkoian , could you please review my PR #388 for this? Thank you

[2019-10-07 08:38] jenkoian commented on #367
Thanks for your kind words @Busterz - been away for the weekend but will catch up today 👍

[2019-10-07 16:21] jenkoian commented on #379
Thanks for all the contributions toward this one, I'm not sure if it actually works on a title at this size, dunno it just looks off to me?

[2019-10-07 16:27] Busterz commented on #367
Hi @jenkoian , I have made changes to your comments on my PR #388 . Than you

[2019-10-07 17:23] Busterz commented on #367
Hope the design is at least to your liking @jenkoian

[2019-10-09 16:59] computamike commented on #345
I have attempted to npm install (I'm running in WSL / Windows 10) and I have had problems - probably due to my environment.  I am trying again though.

[2019-10-10 09:08] computamike commented on #345
Ok - I ran it successfully - don't know why it worked for me and not @tessus
[code]

Unable to recreate issue

[2019-10-10 09:52] jenkoian commented on #345
Thanks @computamike. @tessus are you able to provide any further details or check that what @computamike was doing aligns with your process?

[2019-10-10 13:50] tessus commented on #345
Will do. I'll check it out tonight. Cheers.
--
regards Helmut K. C. Tessarek

(sent from a mobile device)

[2019-10-10 19:12] Zeustopher commented on #367
I liked the idea of a FAQ page and wanted to contribute to it. I've opened #391 adding a question and answer about the need for this project now that the official Profile shows your progress.

:heart: :jack_o_lantern:

[2019-10-10 20:20] #380 closed

[2019-10-10 20:20] jenkoian commented on #357
Can this be closed, there's nothing the app is missing now?

[2019-10-10 20:27] thatzacdavis commented on #379
I do think the yellow is the way to go, maybe just more subtle like you said.

[2019-10-10 22:31] tessus commented on #345
Ok, it works on current master. However, running behind a reverse proxy no longer works. All I get is a white page. So I guess we can close this issue and concentrate on #346

[2019-10-10 22:31] #345 closed

[2019-10-11 05:09] siddhantvirus commented on #357
Yes :)

[2019-10-11 05:09] #357 closed

[2019-10-13 20:39] NNTin opened #393 "Animate GitHub corner"
I have the same GitHub corner but I added some CSS magic. See here: https://nntin.github.io/discord-logo/

Hover over the GitHub icon on the top right and you see him slowly growing bigger, eventually he has some glasses, a text appears that says `click`.

I also got my [GitHub corner from tholman](http://tholman.com/github-corners/) but I extended it further when I did the Discord animations.

Ma

[2019-10-14 09:21] jenkoian commented on #393
Nice, I like the subtle animation on the tholman one you linked to, will have a look into more a bit later, thanks!

[2019-10-14 09:34] jenkoian commented on #367
This is all up and running, thanks to everyone who helped out ❤️

[2019-10-14 09:34] #367 closed

[2019-10-14 13:34] NNTin opened #395 "Add CD deploy preview"
Netlify or a comparable continuous deployment tool.

Advantage: When people create a pull request a new temporary website gets deployed allowing you to view the changes without having to build the website yourself.
It allows easy persistent sharing and showing changes through the web opposed to only seeing the changes temporary and locally.

Example:
https://github.com/mmistakes/made-mistakes-jeky

[2019-10-14 20:44] jenkoian commented on #395
@NNTin yeah have considered, would be nice if I get time 👍

[2019-10-16 08:57] jenkoian opened #397 "Reduce generated CSS size (purge css etc.)"
Tailwind is fantastic, but the generated CSS file is coming in at over 1mb 😱 - we should look at using Purge CSS to reduce this, see: https://tailwindcss.com/docs/controlling-file-size/#setting-up-purgecss we should also look to employ some of the other tactics outlined on that page to reduce the size.

[2019-10-16 11:39] radiantly commented on #397
I'm on this!

[2019-11-07 15:05] msj2 opened #405 "Pull request Status not updating; Still shows pending, long after approved."
Pull request Status not updating; Still shows pending, long after approved.

[2019-11-07 15:17] jenkoian commented on #405
Hey @msj2, it takes 7 days for your pending PRs to not be pending, so I think if you check back tomorrow it should be showing correctly :)

[2019-11-07 15:17] #405 closed

[2019-11-07 18:12] msj2 commented on #405
Hi @jenkoian,
Yes, I'm aware of the 7 day period.
On hacktober Site, PR's are showing completed, but here it doesn't.

I was assuming hacktoberfest-checker shows Status of PR's form Hacktober Site in real time.

So, there's 24 hour delay.

Best to put this up.

[2019-11-08 09:06] jenkoian commented on #405
ah thanks for the clarification @msj2 we must be calculating the 7 day period slightly differently, perhaps they are taking into account time zones better than I am. Anyhow, it seems to have worked out now.

[2020-03-04 19:10] tessus commented on #346
Yep, whatever.

[2020-03-04 19:10] #346 closed

[2020-09-30 14:11] #379 closed

[2020-09-30 14:12] #393 closed

[2020-09-30 14:12] #395 closed

[2020-09-30 14:12] #397 closed

[2020-09-30 21:00] jenkoian opened #413 "Enable gzip compression"
https://medium.com/@victor.valencia.rico/gzip-compression-with-node-js-cc3ed74196f9

[2020-09-30 21:03] MrLucyfer commented on #413
Hey can you assign this to me?

[2020-09-30 21:06] jenkoian opened #414 "Review fontawesome usage"
We are bringing in the entire fontawesome css file when we only use 3 icons (twitter, facebook and question mark). Review this, can we use it a more efficient manner? Only using the css we need? Can we use purgecss here?

[2020-09-30 21:22] jenkoian commented on #413
@MrLucyfer done!

[2020-09-30 21:26] jenkoian opened #415 "Create a basic robots.txt"
https://support.google.com/webmasters/answer/6062596?hl=en

[2020-09-30 21:36] MarnixBouhuis commented on #414
Isn't it nicer to use the font awesome react module?

Treeshaking will automatically eliminate all code/icons we don't need. This will also allow future changes to use any icon they like without having to worry about regenerating css.

The only difference this makes is that instead of rendering icons using a font, we will be rendering icons using JS+SVG's.

[2020-09-30 21:51] shivambhatia5432 commented on #415
Is this issue still open?

[2020-09-30 21:53] jenkoian commented on #414
@MarnixBouhuis Sounds good to me!

[2020-09-30 21:54] jenkoian commented on #415
@shivambhatia5432 Yup!

[2020-09-30 21:55] nikikalwar commented on #415
Hi I am also interested, Can you please assign it to me @jenkoian

[2020-09-30 21:57] shivambhatia5432 commented on #415
Can you guide me a little bit in this issue?

[2020-10-01 04:49] willi123yao opened #424 "Use fontawesome for info icon at top of page"
All the icons in the page (such as the social media icons and faq icon) except the info icon at the top uses Font Awesome.

I suppose the info icon in the reminder at the top of the page should use font awesome icons as well.

[2020-10-01 06:35] willi123yao opened #425 "Change PR status display"
Right now, the status of the PR (e.g. _Pending_) is displayed using italic text beside the PR.

Will it be better to wrap it around in a component like a tag/label such as one with a rounded border and solid color? It can look similar to the labels used on Github issues/PRs.

[2020-10-01 07:09] MarnixBouhuis commented on #414
Alright, I can work on this. Can you assign me?

[2020-10-01 08:49] jenkoian opened #426 "Add dark and light mode"
The official site lets you switch easily between dark and light mode. This is neat but I think just doing it on users os settings is fine: https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme

[2020-10-01 08:54] testerslol123 commented on #426
Can I take this hacktoberfest challenge?
Thank you :)

[2020-10-01 09:02] jenkoian commented on #426
@testerslol123 sure, feel free to make a PR. I'm open to a switch, but also fine with it just using the `prefers-color-scheme` media query...if you do add a switch it should default to the media query if possible.

[2020-10-01 10:03] fazer1929 commented on #424
Hello @willi123yao , I'd like to work on this issue.

[2020-10-01 10:41] jenkoian commented on #424
I guess it depends on the outcome of https://github.com/jenkoian/hacktoberfest-checker/issues/414 as currently fontawesome is a bit of a perf drain

[2020-10-01 14:00] sagarsaud51 commented on #425
Hello @willi123yao

Is this issue still open? I'm interested in picking up this issue.

Hoping it would be labeled as hacktoberfest.

[2020-10-01 15:48] MarnixBouhuis commented on #414
Done! Font awesome loaded from CDN is 12.5KB (css) + 67.8KB (fa-solid woff2) + 67.8KB (fa-brands woff2) = 148.1KB
New bundle size is increased by only 11.3KB, so a 136.8KB total reduction in resource size.

I've also updated font-awesome to the latest version so some icons look a bit different.

[2020-10-02 09:13] jenkoian commented on #415
Fixed in https://github.com/jenkoian/hacktoberfest-checker/pull/418

[2020-10-02 09:13] #415 closed

[2020-10-02 18:58] #414 closed

[2020-10-03 04:40] Jaagrav commented on #415
@jenkoian https://hacktoberfest.digitalocean.com/hacktoberfest-update Please update your issues by adding "hacktoberfest-accepted" label.

[2020-10-03 07:42] testerslol123 commented on #426
@jenkoian may I know where to contact you? Just for easy contact if have some problem.
I just stuck in some problem like
<link rel="icon" type="image/x-icon" href="%REACT_APP_HOSTNAME%/img/favicon.ico" />

It just said undefined or some things about
URIError: Failed to decode param '/%REACT_APP_HOSTNAME%/img/favicon.ico'

Thank you

[2020-10-03 07:47] Sammeress commented on #202
Do PRs on Repos that dont have the Hacktober label count?

[2020-10-03 11:12] jenkoian commented on #415
Thanks @Jaagrav I think because the repo is already tagged with the 'hacktoberfest' topic all PRs in this repo quality. I do need to update the logic of the app though.

[2020-10-03 11:13] jenkoian commented on #426
@testerslol123 have you created your `.env` file based from https://github.com/jenkoian/hacktoberfest-checker/blob/master/.env.example#L11 ?

[2020-10-03 11:14] jenkoian commented on #202
@Sammeress see here for details https://hacktoberfest.digitalocean.com/hacktoberfest-update note this app at time of writing is not up to date with this update.

[2020-10-03 14:00] sandeep-chahal opened #435 "filter PR's if their repo has hacktoberfest label"

[2020-10-03 18:23] RascalTwo commented on #435
Hey, I can add this functionality.

[2020-10-03 21:34] jenkoian commented on #435
Thanks @RascalTwo I think you got it but to quote the blog post (https://hacktoberfest.digitalocean.com/hacktoberfest-update):

[code]

Also here's the PR to the official hacktoberfest repo for reference: https://github.com/digitalocean/hacktoberfest/pull/596/files

[2020-10-03 21:36] jenkoian commented on #435
They've also increased the review period to 2 weeks (14 days) so need to update this as well: https://github.com/jenkoian/hacktoberfest-checker/blob/c6b98fd41edf70bbeec65bf6caee7060523a1d16/api/controllers/pr/findPrs/index.js#L45

[2020-10-04 15:51] jenkoian opened #440 "Fix travis"
I noticed travis isn't firing on PRs and also needs updating to use prettier and stuff

https://github.com/jenkoian/hacktoberfest-checker/blob/master/.travis.yml

[2020-10-04 16:24] NLSteveO commented on #440
I would like to help with this but i believe i would have to access your travis ci settings from the travis website? Please correct me if i'm wrong as there might be another way?

I don't know if you have an issue for this but i recommend using `npm ci` in place of `npm install` in your travis config file. The reason for this is `npm ci` will install the dependencies at the versions in your packag

[2020-10-04 16:33] jenkoian commented on #440
Sounds good, I don't believe I need to give you access to travis as a public repo

[2020-10-04 18:54] NLSteveO commented on #440
Ok, so it looks like the travis build fired for my PR. I did do a few tests with travis on my fork of your repo so i'm not sure if me having travis set up allowed the build to fire on your repo or not but either way i fixed why many builds were failing(calling `npm run eslint` when it doesn't exist) and made my suggested change to `npm ci`.  Also runs prettier now.

[2020-10-05 00:56] willi123yao commented on #413
This issue can be closed via #419 as compression has been added in the PR and merged.

[2020-10-05 08:25] #413 closed

[2020-10-05 08:59] willi123yao commented on #424
Since the issue on using fontawesome library has be resolved, I suppose this could be done?
Anyone interested could work on this I suppose? (leaving this open to give other people an opportunity to contribute)

@jenkoian Will you add the `hacktoberfest` label for this issue?

[2020-10-06 13:02] testerslol123 commented on #426
@jenkoian currently because some circumstance, I would like to give this feature to another person to develop.
I may joining after this hacktoberfest, would take some time trying to catch up this react things.

Thanks

[2020-10-06 20:36] #435 closed

[2020-10-06 20:55] jenkoian opened #444 "Update social og image"
Still using the one from last year: https://github.com/jenkoian/hacktoberfest-checker/blob/master/public/img/og.png

[2020-10-06 21:16] #440 closed

[2020-10-06 21:16] #425 closed

[2020-10-06 21:18] jenkoian opened #447 "Only load social JS on the user result page"
By using an if similar to https://github.com/jenkoian/hacktoberfest-checker/blob/master/public/index.html#L70 we should be able to only load twitter and facebook code on the user page which is the only place it is ever used (for people to share their results).

https://github.com/jenkoian/hacktoberfest-checker/blob/master/public/index.html#L77-L108

This means not loading a needless JS script on t

[2020-10-06 21:20] jenkoian opened #448 "Load google fonts async"
See https://www.denisbouquet.com/google-fonts-render-blocking/

[2020-10-06 21:29] LMulvey commented on #426
Hey, I'll grab this if nobody else has!

[2020-10-06 21:29] jenkoian opened #449 "Add preconnect for 3rd party assets"
<img width="789" alt="Screenshot 2020-10-06 at 22 29 04" src="https://user-images.githubusercontent.com/131355/95262101-71bcac80-0823-11eb-9c71-a6e2b683e086.png">

https://web.dev/uses-rel-preconnect/

[2020-10-06 21:40] HunainHumail commented on #444
What image do you want me to add? I would like to work on this issue and update the image. Please assign me this issue
Thanks

[2020-10-06 21:41] Jp1200 commented on #448
I can attempt to help

[2020-10-06 22:03] Farelion commented on #447
Hey i've made pull request for this issue "Move twitter and fb scripts to user page only", it worked locally, let me know if i helped!

[2020-10-07 05:52] GiriAakula commented on #424
I will work on this. Assign this to me.

[2020-10-07 08:41] jenkoian commented on #444
@HunainHumail something similar to the existing image but with updated fonts would be fine. Here's the font I use for the 'fest' on the site: https://fonts.google.com/specimen/Press+Start+2P

[2020-10-08 08:28] #426 closed

[2020-10-09 04:09] palak001 commented on #449
I would like to work on this issue.

[2020-10-09 09:53] jenkoian commented on #448
Fixed in #453

[2020-10-09 09:53] #448 closed

[2020-10-09 09:54] jenkoian commented on #449
Fixed in #452

[2020-10-09 09:54] #449 closed

[2020-10-09 09:54] jenkoian commented on #447
Fixed in #450

[2020-10-09 09:54] #447 closed

[2020-10-11 21:51] galElmalah commented on #444
Is someone actively working on this issue? if not ill be happy to contribute
@jenkoian

[2020-10-12 08:21] jenkoian commented on #444
@galElmalah Not heard from @HunainHumail so go for it

[2020-10-12 10:27] galElmalah commented on #444
Something like this?
![image](https://user-images.githubusercontent.com/40733145/95736215-9a62fd00-0c8e-11eb-8a16-be753976a250.png)

[2020-10-12 10:29] jenkoian commented on #444
@galElmalah Perfect

[2020-10-12 10:29] galElmalah commented on #444
Cool ill open a PR 😄

[2020-10-12 12:29] jenkoian commented on #444
Fixed in #457

[2020-10-12 12:29] #444 closed

[2020-10-19 14:53] jenkoian opened #461 "Create dependabot file"
**Beginner friendly**

Create a [dependabot](https://dependabot.com/) file so npm deps get PR'd automatically.

Example file, I'll leave it as an exercise to the reader to work out where it should live:

[code]

[2020-10-19 15:59] Bhavesh27 commented on #461
@jenkoian Can i work on this. Can you assign me the Issue?

[2020-10-19 16:41] Bhavesh27 commented on #461
@jenkoian I added config as per my understanding. I sure can update if anything else required. https://github.com/jenkoian/hacktoberfest-checker/pull/462

[2020-10-20 12:15] #461 closed

[2021-09-29 19:42] jenkoian opened #565 "Add gitlab support"
They have added gitlab support this year, I _think_ we can use this library https://github.com/jdalrymple/gitbeaker

[2021-09-29 19:42] jenkoian opened #566 "Reskin app"
New year, new colours, should update this app to reflect. Reminder we don't just steal assets or fonts but go for a close match.

[2021-09-29 19:43] jenkoian opened #567 "Add typescript support"
Typescript is something I have very little experience of but like very much. We should implement it here if we can.

[2021-09-29 19:45] jenkoian opened #568 "Replace travis with github actions"
Travis have been doing some not so good things this past year, let's move to github actions.

[2021-09-29 19:48] jenkoian opened #569 "Update to latest version of tailwind"
Currently on 1.9.4, 2.2.16 is latest at time of writing.

[2021-09-29 21:22] vincentrohde commented on #567
Do you want to implement it for both api and client(`./src`) or only client?

[2021-09-29 21:22] vincentrohde commented on #568
That sounds quite interesting. I'd love to do this 💯

[2021-09-29 21:28] jenkoian commented on #567
@vincentrohde both? But maybe we do one at a time?

[2021-09-29 22:13] jenkoian commented on #565
In progress here: https://github.com/jenkoian/hacktoberfest-checker/compare/gitlab-integration?expand=1

[2021-09-29 22:52] vincentrohde commented on #567
I think one at a time would work good. I have a smaller Webpack project, where I implemented Typescript later on during development, just like in this case. Most of the Typescript I wrote so far was related to React/ front end code. If we would start with the client first, it would give me an easy start to get into the project and it's structure. Once that is done, the api could then be converted

[2021-09-30 13:13] EugeneGohh commented on #567
Hi, can I work on migrating the codebase to TypeScript too?

[2021-09-30 13:17] EugeneGohh commented on #569
Hi, I would like to contribute to this. May I work on this issue?

[2021-09-30 13:27] EugeneGohh opened #572 "Update README"
I am opening this issue for updating `README.md` for hacktoberfest. I would like to revamp `README.md` so that it's up-to-date. Feel free to assign it to me.

[2021-09-30 16:39] jenkoian commented on #565
PR: https://github.com/jenkoian/hacktoberfest-checker/pull/573

Limited to only accounts with the same username on both service for now.

[2021-09-30 16:41] jenkoian commented on #569
@EugeneGohh there is a PR open already https://github.com/jenkoian/hacktoberfest-checker/pull/570 but I envisaged there'd be more to it than that so happy for you to take a look also.

[2021-09-30 16:42] jenkoian commented on #572
I'm going to my usual update but happy for you to take a stab after I'm done 👍

[2021-09-30 17:00] #565 closed

[2021-09-30 17:00] jenkoian opened #575 "Gitlab differentiation"
Now that [gitlab support](https://github.com/jenkoian/hacktoberfest-checker/pull/573) has been added find a visual way of differentiating PRs from MRs. Maybe a github and gitlab icon or something?

[2021-09-30 17:01] jenkoian opened #576 "Smarter combination of PRs and MRs"
Currently pull requests from github and merge requests from gitlab and simply concatenated together which means the gitlab ones will just appear after the github ones. What would be better if we merged them smartly so they are combined and ordered by date.

[2021-09-30 17:04] jenkoian opened #577 "Add support for github and gitlab lookups with different usernames"
Currently we have a single input for a username, this will check github and gitlab for PRs (or MRs) for that user. However, it's possible a user has a different username on gitlab to github. This use case is currently not supported.

See [this section of the readme](https://github.com/jenkoian/hacktoberfest-checker/blob/master/README.md?plain=1#L18) for an idea of how this could be solved.

[2021-09-30 18:42] vincentrohde commented on #567
@jenkoian I would love to do the backend, if we split it into two people doing the task separately. It would be something new for me. I would love to get a better understanding in typing an API 👍

[2021-09-30 18:50] jenkoian commented on #572
I'm done with the readme now

[2021-09-30 18:51] jenkoian commented on #567
Happy either way, are you ok to work it out amongst yourselves? Let me know if you want me to enable discussions on this repo or anything 👍

[2021-09-30 19:10] vincentrohde commented on #567
@jenkoian I haven't used discussions before, but I guess it would be good to allow easier communication. @EugeneGohh we could also use Discord if you don't mind.

[2021-09-30 19:16] dolamanee6122 commented on #577
Hey @jenkoian , please assign this issue to me.

[2021-09-30 21:20] jenkoian commented on #567
I actually think discussion is already enabled, but yeah whatever really. Also feel free to get a PR up, as often find that is good way to spark a discussion anyway 👍

[2021-09-30 21:21] jenkoian commented on #577
@dolamanee6122 no need to assign, just PR away :)

[2021-10-01 08:36] danmana commented on #566
Hi, I'd like to pick this up.

What should be changed?
* pink -> orange
* logo
* button colors?
* background color?

Also, I'm thinking about how to make this easier to change next year.
Would it be better to define some `hack-primary`, `hack-secondary` colors in tailwind (plus dark mode variants), so we don't have to replace `pink` with `orange` everywhere in HTML/css?
Any feedback is welcome, I'

[2021-10-01 08:42] jenkoian commented on #566
Yeah something along the same sort of theme as https://hacktoberfest.digitalocean.com/

Tailwind suggestion sounds good :)

[2021-10-01 08:59] danmana opened #581 "feature request: team/friends page"
I like this checker a lot because I can search for my teammates and my friends to see their status.
However, I was missing a way to have an overview of all my friends on one page.

Last year I hacked together a Tampermonkey user script that would load a list of hardcoded github usernames, check their progress, and add them to the page.

It looked something like this (edited for privacy)
![image](h

[2021-10-01 10:21] jenkoian commented on #581
I like this idea a lot! Wondering if adding support for organisation would be good to? Although not all organisations has all team members listed so might not work. We also need to consider how this might work with gitlab.

In summary, I'm game if you want to PR it :)

[2021-10-01 10:30] danmana commented on #581
Cool, I'll look into it in a couple of days when I have time.

[2021-10-01 21:06] #576 closed

[2021-10-01 21:51] jenkoian opened #584 "Replace promises with async/await"
The API side of the app makes heavy use of promises. Let's replace them with async/await for improved readability.

[2021-10-01 21:52] jenkoian opened #585 "Add support for fallback to gitlab if user doesn't exist on github"
Currently the app will error if the user is not found on github. We should improve this to fallback to gitlab if the user doesn't exist on github then only erroring if they then don't exist on gitlab.

[2021-10-01 22:18] GregSithole commented on #584
Hey Please assign this to me, I'll do it

[2021-10-01 23:13] precious-adeyinka commented on #584
Can I work on this too? @jenkoian

[2021-10-01 23:15] E-wave112 commented on #567
Hello @jenkoian I'm also interested in working on the backend with typescript

[2021-10-02 04:38] aakhtar3 commented on #568
@jenkoian I can work on this.

[2021-10-02 09:05] SangramBarge commented on #584
Hi Please assign me this

[2021-10-02 09:33] jenkoian commented on #584
Thanks everyone for the interest, I'm not going to assign to anyone, just submit a PR and let's see how we get on :)

[2021-10-02 14:25] GregSithole commented on #584
@jenkoian Let me know if you have issues with the pull request but that should do it.

[2021-10-02 15:38] aakhtar3 commented on #568
PR is ready for merge
https://github.com/jenkoian/hacktoberfest-checker/pull/590

[2021-10-02 15:57] jenkoian commented on #568
Closed by #590

[2021-10-02 15:57] #568 closed

[2021-10-02 17:28] #584 closed

[2021-10-02 19:23] aneeshpanda commented on #569
Hi, I would like to take up this issue!

[2021-10-03 15:57] babu1998 commented on #585
Have made a PR for this issue https://github.com/jenkoian/hacktoberfest-checker/pull/592

[2021-10-03 18:40] babu1998 commented on #577
I can work on this after the fallback PR is merged.

[2021-10-04 13:36] jenkoian commented on #585
Closed by #592

[2021-10-04 13:36] #585 closed

[2021-10-04 14:11] babu1998 commented on #567
Try to avoid using any in typescript it would be better and more effective if the type was more specific

[2021-10-05 13:17] hwilson2563 commented on #575
I would like to come up with a solution for this issue.

[2021-10-05 13:39] jenkoian commented on #566
Closed by #593

[2021-10-05 13:39] #566 closed

[2021-10-05 19:58] babu1998 commented on #577
We can make registration compulsory and ask the user for github and gitlab id at registration. Then integate that data in the react app.

[2021-10-05 21:30] jenkoian commented on #577
This is pretty much what the official site does and there'd be no point in us doing the same

[2021-10-09 23:28] Mannuel25 opened #601 "FAQs Fix"
![IMG_20211010_002227](https://user-images.githubusercontent.com/68563757/136676137-cb1dcb7c-884a-4146-982d-f7276e290274.jpg)

When I clicked the FAQs button in the homepage it redirects me to the FAQs page, but I can still see the FAQs button below in the FAQs page (which when clicked refers to the current page I'm in). I feel there should be a button that redirects the user back to the homepage

[2021-10-10 19:09] jenkoian commented on #601
Fair 👍 are you able to PR?

[2022-02-28 09:41] abbymiss opened #655 "项目引用了shell-quote等1235个开源组件，存在4个漏洞，建议升级"
大佬，看你这个项目调用了shell-quote等1235个开源组件，存在4个安全漏洞，建议你升级下。
[code]
另外3个漏洞 ，信息有点多我就不贴了，你自己看下完整报告：https://www.mfsec.cn/jr?p=add6b2

[2022-09-30 14:42] #569 closed

[2022-09-30 14:42] #577 closed

[2022-09-30 14:42] #601 closed

[2022-10-01 09:51] Ernest2026 opened #705 "Invisible links"
Some link on the page are invisible. It has the same color as the background in light mode.

E.g: "Disclaimer: This site is fan made and not affiliated with __[Hacktoberfest](https://hacktoberfest.digitalocean.com/)__."

[2022-10-01 15:14] darshikaguptaa commented on #705
Can you assign this issue to me ?

[2022-10-01 18:44] Ernest2026 commented on #705
Sure, no problem

[2022-10-05 12:35] vimode opened #709 "Input validation required"
Hello,

If you search a username with an empty space before the username, it will throw an error.
I think an input validation should be added on submit which will make sure that any whitespace before the input value is removed.

AFAIK, github usernames cannot have spaces before anyway, so that shouldn't be a problem either. Isn't it?

[2022-10-05 12:42] jenkoian commented on #709
Sounds like we just need to add a [trim()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/trim) call. Would you like to add a PR for this?

[2022-10-05 12:52] Johnnyteck opened #710 "[FEAT] The text on the footer seems disorganized"
An align center would work best for thus text. Kindly assign thus to me and consider it fixed 😁
![IMG_20221005_134717](https://user-images.githubusercontent.com/73708569/194064780-3bfeb9fb-4bd5-4a9f-9c39-05393aab1886.jpg)

[2022-10-05 13:05] vimode commented on #710
Its because of the link color blending with the background color discussed in #705
The PR #706 should fix this I suppose.

[2022-10-05 13:06] vimode commented on #709
Sure I will give it a go.

[2022-10-05 13:21] #710 closed

[2022-10-05 19:53] DevMukhtarr commented on #705
I found a link that isn't visible when you hover over it asides from the invisible link @darshikaguptaa is handling
<img width="877" alt="Screenshot (4)" src="https://user-images.githubusercontent.com/50122611/194150130-6259efa9-2608-4e51-8fa7-a7fa9617e453.png">

[2022-10-05 21:49] AbhishekTiwari23 opened #712 "The text is not readable properly"
The text which has a blue background is not readable properly because of white colour.

[2022-10-05 21:49] AbhishekTiwari23 commented on #712
I allow me to contribute through this issue

[2022-10-05 22:54] Johnnyteck commented on #710
Alright then, great.

[2022-10-06 08:27] jenkoian commented on #712
There are a few issues with the text and colours and various PRs and issues, don't think it's solved yet though so feel free to submit something if you wish.

[2022-10-06 15:02] AbhishekTiwari23 commented on #712
Ok Thanks, I will definitely give my best

[2022-10-06 17:56] darshikaguptaa commented on #712
Hey @jenkoian I'd like to work on this issue, please assign this issue to me

[2022-10-06 18:17] AbhishekTiwari23 commented on #712
I am working on this; thanks

[2022-10-07 07:51] sahillede940 opened #716 "FAQ button should not be present in FAQ page"
If we are already on FAQ page, we should not show FAQ button in FAQ page.
Instead we should show button to go back to homepage.
Please assign this issue to me 😊.

[2022-10-07 12:54] PGautam27 opened #717 "Link fades and redirects to the same site."
Right here the link fades as the cursor goes near to it. Instead I would like to add a color to it when the cursor is on it.

https://user-images.githubusercontent.com/92343715/194558173-98bc39c5-90eb-4e9e-9d28-bfcd88bd7365.mp4

[2022-10-07 12:57] PGautam27 opened #718 "Go to top button"
I would like to add go to top button. Because once I check my contribution and if it's too much then scrolling back to the top takes time.

I would like to add this, assign it to me.

[2022-10-07 12:57] elite16op commented on #717
Can i solve this issue, or you could assign it to me ?

[2022-10-07 14:26] jenkoian commented on #717
Don't worry about being assigned, just put in a PR when you're ready 👍

[2022-10-07 14:30] PGautam27 commented on #717
😃 sure

[2022-10-09 01:39] Saran-pariyar opened #719 "The search bar is too down"
When we enter the website, we cannot directly see the search bar. I can make UX better by making the search bar appear on the screen directly when we enter the website without scrolling.
#### As you see we need to scroll to see the search bar
Please assign this to me and I will make the styling changes

![image](https://user-images.githubusercontent.com/86418083/194733456-250f8d7b-f736-4850-9ee3-7

[2022-10-09 11:11] itsaalexk commented on #717
when is this issue happening exactly? Can you specify the moment when it happens?

[2022-10-09 15:31] elite16op commented on #717
when i run this command in terminal set GITHUB_TOKEN=YOUR_TOKEN; set GITLAB_TOKEN=YOUR_TOKEN and specifies my personal token then after i do ( npm start ) it says no github and gitlab token specified ? how can i fix this , i really want to solve that link fade issue but without this i can't proceed further.

[2022-10-09 15:53] AbhishekTiwari23 commented on #712
Hello @jenkoian, I am trying to set up the local environment but getting this error every time can you please help?
<img width="1440" alt="Screenshot 2022-10-09 at 9 21 40 PM" src="https://user-images.githubusercontent.com/97469132/194766716-2ea36c5b-f6a8-4967-b29d-728274559524.png">

[2022-10-09 18:33] gitamandeep commented on #719
Sir, please assign this task to me. I can work on it.

[2022-10-09 19:15] jenkoian commented on #717
@elite16op you set them in .env, have you done that?

[2022-10-09 19:20] #709 closed

[2022-10-09 19:22] jenkoian commented on #712
@AbhishekTiwari23 You need to create a .env file (using .env.example) as examples and make sure you set these tokens.

[2022-10-09 19:23] jenkoian commented on #719
Yeah good point, I guess the split heading and size causes this. Yeah go for it, don't worry about being assigned.

[2022-10-09 19:27] jenkoian opened #720 "Sort out colours"
There are various issues to do with colours of links and what no on the site. Some of these have been patched up, but they aren't really proper fixes. A better fix would be to sort out the colours configured here https://github.com/jenkoian/hacktoberfest-checker/blob/master/tailwind.config.js#L20 and then ensure the appropriate colours are used throughout the site.

I've left the old colours there

[2022-10-09 19:28] jenkoian opened #721 "Update the open graph image"
Still using last years style https://github.com/jenkoian/hacktoberfest-checker/blob/master/public/img/og.png

This is used for sharing on social media.

[2022-10-09 19:35] satyamrs00 commented on #720
I want to work on this
would you assign it to me so that i can get started ?

[2022-10-09 19:36] jenkoian commented on #720
@satyamrs00 Sure

[2022-10-09 19:39] AbhishekTiwari23 commented on #712
ok, thanks,

[2022-10-09 19:41] ramonsaraiva commented on #721
hey @jenkoian - is the image supposed to be a screenshot or something similar of the logo from this https://github.com/jenkoian/hacktoberfest-checker/blob/master/hacktoberfest-checker-2022.png?

[2022-10-09 19:54] AbhishekTiwari23 commented on #720
@jenkoian, sir, I think issue #712 is the same as this one because both depend on the site's colour configuration. Please have a look, I am working on that one.
Thanks

[2022-10-10 00:19] elite16op commented on #717
I am begginner to this, the readme file said (or) so therefore I got confused, thx for the help.

[2022-10-10 09:53] jenkoian commented on #720
@AbhishekTiwari23 yeah it definitely overlaps

[2022-10-10 09:54] jenkoian commented on #721
@ramonsaraiva in the past I think I've made it similar to the screenshot but without the nav or search bar or anything. I'm open to suggestions though if you want to get creative.

[2022-10-10 12:51] vimode commented on #721
I think a little modified [image of the holopin sticker](https://i.imgur.com/KMUIls5.png) might look cool.

I am not registered to holopin but if someone is they could grab a better quality image of it, modify it a bit to remove the levels part and it will fit well with the social aspect of being a Contributor(as noted by the sticker) sharing through this site?

[2022-10-10 15:05] elite16op commented on #717
it is showing an error even after following the setup Failed to decode param '/user/%REACT_APP_HOSTNAME%/img/favicon.ico'

[2022-10-10 17:03] icextreme opened #725 "README.md does not have a contributing section"
It seems like isn't a contributing section in README.md, but there is a CONTRIBUTING.md in the repo. It would be good if there is a section in the README that links to the contributing section so that it is easier to find.

What are your thoughts on the idea? I can help work on this if it is a good idea.

[2022-10-10 18:26] AbhishekTiwari23 commented on #720
<img width="1440" alt="Screenshot 2022-10-10 at 11 52 20 PM" src="https://user-images.githubusercontent.com/97469132/194929973-2fa8ec19-dfa7-4437-9299-0317c51acf5c.png">

Hello @jenkoian sir, my setup is ready, and I am looking for some colour suggestions there is an issue also When I run it on localhost, "me" is not there, and I am not getting it why?
I just randomly changed the colour to underst

[2022-10-10 18:29] AbhishekTiwari23 commented on #720
Hello @jenkoian sir, my setup is ready, and I am looking for some colour suggestions there is an issue also When I run it on localhost, "me" is not there, and I am not getting it why?
I just randomly changed the colour to understand the code. This is not the final.
Thanks
<img width="1440" alt="Screenshot 2022-10-10 at 11 58 33 PM" src="https://user-images.githubusercontent.com/97469132/194930832-

[2022-10-11 01:59] saksham-jain1 commented on #718
I can add this button very easily with smooth scrolling effect. You can assign this task to ne

[2022-10-11 08:22] jenkoian commented on #721
Need to be careful not to just rip of the holopin though, also that font they use is a premium font, so we'd probably need to use the font I've used on this site which is a similar open source font.

[2022-10-11 08:24] jenkoian commented on #725
Sure, go for it

[2022-10-11 08:25] jenkoian commented on #720
@AbhishekTiwari23 you can see the direction I was going with the colours, please feel free to make suggestions though. I don't hate that screenshot about from the ovals around the links

[2022-10-11 11:53] VishalVR-21 commented on #721
Can u please assign this to me, i would like to work on it

[2022-10-12 04:08] icextreme commented on #725
Thank you!

[2022-10-12 09:38] mezotv opened #726 "Add a filter"
Add a filter to filter out excluded or invalid prs to not display wrong information. I don't know if this is possible but I guess its worth a shot

[2022-10-12 10:33] jenkoian commented on #726
Do you have an example of what you mean? We do already so some filtering on this for both github and gitlab, e.g, https://github.com/jenkoian/hacktoberfest-checker/blob/28570e4a597a2fd1febfb36177859b70ae7bdc80/api/controllers/pr/findPrs/gitlab/index.ts#L48

[2022-10-12 10:38] mezotv commented on #726
Sure! For example it shows this as pending on the checker website
![image](https://user-images.githubusercontent.com/68947960/195321553-65833cab-3b2a-447f-b255-2b1dd822be2e.png)
But on the hacktoberfest website it shows excluded
![image](https://user-images.githubusercontent.com/68947960/195321674-189284c9-5c56-427f-ac26-6c618c91b53a.png)

[2022-10-12 11:55] jenkoian commented on #726
Ah cool, that's a good test - thanks! Unfortunately Digital Ocean maintains a list of excluded repositories which we do not have access to, so we are unable to support this feature sadly :(

[2022-10-12 11:56] mezotv commented on #726
Ahh that's unfortunate. Still a cool project!

[2022-10-12 11:56] #726 closed

[2022-10-14 14:34] #725 closed

[2022-10-18 18:59] jenkoian opened #733 "Smarter pending check"
There is a grace period of 1 week after the PR is merged, approved or attains the label `hacktoberfest-accepted` at the moment this is not factored into our pending check (we just do 1 week since PR was opened).

There is discussion on this here: https://github.com/jenkoian/hacktoberfest-checker/pull/714

For github we should look at using the Graph API to inspect the events that have occurred on

[2022-10-21 14:17] akankshasainics opened #736 "Show Live remaining time left instead of just Days"
The site currently just shows the remaining days of hacktoberfest. It will be nice to update live ( days + time ) every second.

I would like to work on it, please assign it to me.

[2022-10-22 03:48] elite16op commented on #736
can i work on this ? :)

[2022-10-25 10:41] BenBE opened #744 "Maintainer activity"
As the hacktoberfest includes not just the contributor tasks, but also a section for participation as a maintainer it would be nice if this activity could be included in the overview as a separate section. As of now there is no easy way to determine how a maintainer is fairing. I'd love to see this added to the hacktoberfest checker somehow.

[2022-10-28 08:33] jenkoian commented on #744
Nice idea 👍

[2022-10-28 08:42] #736 closed